/* accordion in GetInvolved*/

.wp-block-ub-content-toggle.get-involved__accordion{

    margin-bottom: 0;
    margin-top: 0;

    .wp-block-ub-content-toggle-accordion {
        margin-bottom: 0;
    }

    .wp-block-ub-content-toggle-accordion-title-wrap {
        border-bottom: 1px solid #023e20;
    }
        p.wp-block-ub-content-toggle-accordion-title::before{
            font-family: "Font Awesome 5 Free";
            font-weight: 600;
            margin-right: 10px;
            color: #023E20;
        }

        .icon-bullhorn p.wp-block-ub-content-toggle-accordion-title::before {
            /*bullhorn*/
            content: "\f0a1";
            font-size: 1.375rem;
            margin-right: 30px;
        }

        .icon-pencil p.wp-block-ub-content-toggle-accordion-title::before {
            /*pencil*/
            content: "\f305";
            font-size: 1.375rem;
            margin-right: 30px;
        }

        .icon-hand-heart p.wp-block-ub-content-toggle-accordion-title::before {
            /*heart*/
            content: "\f2b5";
            font-size: 1.375rem;
            margin-right: 30px;
        }

        .icon-world p.wp-block-ub-content-toggle-accordion-title::before {
            /*world*/
            content: "\f0ac";
            font-size: 1.375rem;
            margin-right: 30px;
        }

        .wp-block-ub-content-toggle-accordion-content-wrap {
            background: #f2f5f4;
        }
}
