main#main {
    article.entry {
        .entry-container {
            span.cat-links {
                a, & {
                    font-size: size(12);
                    color: var(--secondary);
                }
            }

            header.entry-header {
                h2.entry-title {
                    a {
                        font-size: size(18);
                        color: $primary_darker;
                    }
                }
            }

            .entry-content {
                p {
                    font-size: size(14);
                }
            }
        }
    }

    .archive:not(.paged) & {
        article.has-post-thumbnail:first-of-type {
            .entry-container {
                @include desktop {
                    // margin-top: 30px;
                }
            }
        }
    }
}

.project__toggle-card {
    p{
        padding: 0 10px;
    }
    
    .wp-block-cover{ 
        border-radius: 10px 10px 0 0;

        img{
            border-radius: 10px 10px 0 0;
        }

        &::before {
            border-radius: 10px 10px 0 0;
        }
    }

    .wp-block-group__inner-container {
        background: #fff;
        padding-bottom: 20px;
        border-radius: 10px;
    }
}