.featured-slider {
    position: relative;

    &.wp-block-jeo-theme-featured-slider {
        margin-top: 0;
    }

    .box-slider {
        padding-bottom: calc(100%*4.43/16);
        height:0;
        position: relative;
        width:100%;

        @include mobile {
            padding-bottom: calc(100%*4/3);
        }
        @include tablet-only {
            padding-bottom: calc(100%*8.43/16);
        }

        .wrapper-slider {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;
            left:0;
            position: absolute;
            top:0;
            width:100%;

            .content-slider {
                height: 100%;
                position: relative;
                width: 100%;
                display: flex;
                align-items: center;

                img.gallery-item {
                    width: 100%;
                    object-fit: cover;
                    height: 100%;
                    margin: 0;
                    z-index: 0;
                }

                .wrapper {
                    display: block;
                    position: absolute;
                    width: 100%;
                    max-width: 100%;
                    height: 100%;
                    z-index: 1;
                    left: 0;
                    top: 0;

                    .wrapper-content {
                        height: 100%;
                        display: flex;
                        margin: 0 auto;
                        align-items: center;

                        @media (min-width: 1300px) {
                            width: 1345px;
                        }
                    }

                    .image-meta {

                        align-items: flex-start;
                        background: rgba(255,255,255,0.8);
                        border-radius: 10px;
                        display: flex;
                        flex-direction: column;
                        height: auto;
                        left: 0;
                        margin-left: 50px;
                        padding: 30px;
                        position: relative;
                        top: 0;
                        width: 600px;
                        z-index: 2;

                        @include desktop {
                            margin-bottom: 80px;
                            margin-top: 80px;
                            margin-left:120px;
                        }

                        @include mobile {
                            max-width: 251px;
                            margin: 0 auto;
                            padding: 30px 20px;
                        }
                        @include tablet-only {
                            margin-left: 20vw;
                        }

                        @media only screen and (max-width: 325px) {
                            padding: 10px 10px 20px;
                        }

                        .image-title {
                            font-size: size(32);
                            line-height: size(34);
                            margin-bottom: 20px;
                            color: var(--primary);

                            @include large {
                                font-size: size(40);
                                line-height: size(48);
                            }

                            @include mobile {
                                font-size: size(18);
                                line-height: size(22);
                                margin-bottom: 13px;
                            }

                            @media only screen and (max-width: 325px) {
                                margin-bottom: 10px;
                            }
                        }

                        .image-description {
                            font-size: size(16);
                            line-height: size(20);
                            margin-bottom: 25px;
    
                            @include large {
                                font-size: size(18);
                                line-height: size(22);    
                            }
    
                            @include mobile {
                                font-size: size(14);
                                margin-bottom: 20px;
                            }

                            @media only screen and (max-width: 325px) {
                                margin-bottom: 10px;
                            }
                        }

                        .image-button {
                            a {
                                background: var(--secondary);
                                border-radius: 10px;
                                color: white;
                                padding: 10px 20px;
                                font-size: size(16);
                                text-transform: uppercase;
                                transition: all .2s ease-in-out;
    
                                &:hover {
                                    font-weight: normal;
                                    background: var(--primary);
                                    transition: all .2s ease-in-out;
                                }
    
                                @media only screen and (max-width: 325px) {
                                    font-size: size(12);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .tns-outer {
        .tns-controls {
            display: flex;
            justify-content: space-between;
            max-width: 90%;
            margin: 0 auto;
            z-index: 9;
            width: 100%;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 50%;
            outline: none;

            @include mobile {
                max-width: 96%;
            }

            @media only screen and (max-width: 325px) {
                max-width: 100%;
            }

            button {
                background: #ffffff;
                border-radius: 50%;
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;

                @media only screen and (max-width: 325px) {
                    height: 30px;
                    width: 30px;
                }

                svg {
                    width: 24px;
                    height: 52px;
                }
            }
        }
    }
}