div.faceted-posts-search {
    &__info-sort {
        .generic-selector {
            .filter__control {
                border-width: 0;
                box-shadow: none;

                .filter__indicator-separator {
                    visibility: hidden;
                }
            }
        }
    }
}