.video-gallery-wrapper > div > div > .block-editor-block-list__layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    grid-column-gap: 15px;
}


.video-gallery-wrapper .block-editor-block-list__block.wp-block.rich-text.block-editor-rich-text__editable.wp-block > span::after{
    color: grey
}