.archive.post-type-archive-knowledge_exchange {
    #content {
        .page-header {
            margin-bottom: 65px;

            .page-title.article-section-title.category-header {
                color: #023E20;
            }

            @include mobile {
                margin-bottom: 30px;
            }
        }

        .wrapper .terms {
            margin-bottom: 60px;

            .taxonomy-terms {
                grid-template-columns: repeat(3, minmax(0, 1fr));

                p{
                    margin: 0; 
                    padding: 16px 0;
                    transition: color 110ms ease-in-out;
                    color: #767676; 
                }

                .see-all{
                    font-weight: bold;
                }

                .quantity{
                    display: none;
                }

                @include desktop {
                    grid-column-gap: 122px;

                    .taxonomy-link, .taxonomy-terms-card{
                        background-size: auto 40%;
                        background-position: center top;
                        height: 100%;
                        margin-bottom: 15px!important;
                        
                        :hover{
                            font-weight: normal;

                            .see-all, h3{ font-weight: bold; }

                        }

                        .description{
                            p {
                                padding: 16px 0;
                                &:first-child {
                                    margin-bottom: 30px;
                                }
                            }

                            position: relative;
                            height: 100%;
                           
                            .see-all{
                                position: absolute;
                                bottom: 0;
                                margin-bottom: 5px;
                            }
                        }
                    }
                }

                @include tablet {
                    grid-template-columns: auto;
                }
            }
        }

        .faceted-posts-search__posts-list {
            display: grid;
            grid-column-gap: 30px;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            position: relative;

            @include mobile{
                grid-template-columns: auto;
            }
        }
    }
}