.page.page-template-page-contact {
    
    .site-content {
        margin-top: 4rem;

        #primary {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
            header.entry-header {
                display: block;
    
                h1.entry-title {
                    color: var(--secondary);
                    font-size: 2.5rem;
                }
            }
    
            #main {
                width: 73%;

                @include mobile {
                    width: 100%;
                }

                .main-content {
                    width: 80%;

                    @include mobile {
                        width: 100%;
                    }
                }

                h1.entry-title {
                    font-size: 2.5rem;
                    color: var(--secondary);
                }
                
            }
        }
    }
}

/* CONTACT FORM */
.wpcf7 {
    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        border-radius: 10px;
        font-size: size(18);
        padding: 15px 20px;
        color: #333333;
    }

    .offset-md-6 {
        margin-left: 50%;

        @include tablet {
            margin-left: 0%;
        }
    }

    textarea {
        max-height: 250px;
    }

    input[type="submit"] {
        background-color: var(--secondary);
        text-transform: uppercase;
        font-size: size(14);
        width: 100%;
        font-weight: normal;
        padding: 23px 0;
        margin-top: 10px;
        border-radius: 10px;
    }

    input,
    textarea {
        &:focus {
            outline: none;
        }

        &::placeholder {
            font-weight: bold;
            opacity: 0.5;
        }
    }

    .wpcf7-not-valid-tip {
        font-size: size(12);
    }

    form {
        &.failed,
        &.sent,
        &.invalid,
        &.unaccepted {
            .wpcf7-response-output {
                border: 0px;
                text-align: right;
                font-size: size(14);
                font-weight: bold;
                margin: 0px;
            }
        }

        &.sent {
            .wpcf7-response-output {
                color: #46b450;
            }
        }

        &.failed,
        &.invalid,
        &.unaccepted {
            .wpcf7-response-output {
                color: red;
            }
        }
    }
}
/* CONTACT FORM */


/*Widget Follow us - HTML*/


.widget-follow-us__title{
	color: var(--secondary);
	
}
.widget-follow-us__social{
	display: flex;
    flex-direction: row;
    margin: auto 0;

    div{
        width: 40px;
        height: 40px;
        display: flex;
        transition: all .2s ease;
        margin-right: 10px;

        i{
            color: #0A854A;
            font-size: 30px;
        }
    }
}
