.page-template.page-template-template-case-studies  {
    .main-content {
        width: 100%;
    }

    iframe {
        margin-left: calc( 50% - 50vw);
        margin-right: calc( 50% - 50vw);
        max-width: 100vw;
        width: 100vw;

        @include mobile {
            border: 1px solid #CCCCCC;
            max-width: 100%;
        }
    }
}