header.page-header.category {
    background-color: unset;

    .mobile-author-label,
    .desktop-author-label {
        font-size: size(18);
    }
}

aside.category-page-sidebar {

    /* desktop / tablet*/
    /*
    782px because newspack is breaking at that point
    */
    @media only screen and (min-width: 782px) {
        width: 25%;
    }

    .widget {

        &.widget-wrapper {
            margin-bottom: 3em;
        }
        img {
            width: 100%;
            }
    }

    .widget-category_page_sidebar img {
        width: 100%;
    }

}