.home {


    /*INI: HIVOS*/

    .wp-block-columns .wp-block-column > h1.home--section-title {
        margin:0;
        margin-top:10px;
    }
    .wp-block-columns .wp-block-column > p {
        line-height: 1.4;
    }
    .wp-block-columns .wp-block-column > h1  {
        font-size: size(40);
    }
    @include desktop {
        #vlogs .wp-block-button__link {
            margin-top:25px;
        }
        .wp-block-cover > p {
            margin-top:-10px;
        }

        p span {
            font-size:0.91rem;
        }
        .wp-block-columns .wp-block-column > p {
            margin-top:15px;
            margin-bottom:-15px;
        }
        .taxonomy-terms-card:not(.with-description) h3.title {
            font-size:1.5rem;
        }
        .radio-podcast-section {
            margin-top:90px;
        }
    }

    #case-studies {
        figure a {
            overflow: hidden;
            display: block;
            border-radius: 15px;

            @include desktop {
                margin-top:-45px;
                height: 245px;
            }

            img {
                object-fit: cover;
            }
        }
    }
    .wpnbha.image-alignleft .post-has-image .post-thumbnail, .wpnbha.image-alignright .post-has-image .post-thumbnail {
        flex-basis:40%;
    }
    .wpnbha.image-alignleft .post-has-image .entry-wrapper, .wpnbha.image-alignright .post-has-image .entry-wrapper {
        flex-basis:60%;
    }
    .wpnbha article figure.post-thumbnail a, .content-area article figure.post-thumbnail a {
        padding-top: 67.25%;
    }
    .wp-block-cover:not(.home--academy-section) {
        padding:0;
    }

    @include tablet-only {
        .wp-block-columns .wp-block-column > h1  {
            font-size:1.8rem;
        }
    }

    &--about-section {
        margin-bottom: 0px !important;
    }

    i.home--section-icon{
        margin: 0px;
        height: 20px;
        width: 20px;
        color: #023E20;
        font-size: 20px;
    }

    i.home--section-white-icon{
        margin: 0px;
        height: 20px;
        width: 20px;
        color: #ffffff;
        font-size: 20px;
    }

    h2.home--section-title {
        margin-top: 15px;

        @include mobile {
            font-size: size(18);

            i {
                margin-right: 10px;
            }
        }
    }

    &--vlog-section{
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-top: 0px !important;

        &::before {

            width: auto;
            height: 80px;
            border-radius: 30px 30px 0 0;
            top: -60px !important;
            opacity: 1 !important;

            @include desktop{
                margin-left: -60px;
                margin-right: -60px;
            }

            @include tablet{
                top: -53px !important;
                margin-left: -25px;
                margin-right: -25px;
            }
        }
    }

    &--academy-section {
        border-radius: 20px;
        box-shadow: 0 2px 14px 0 rgba(0,0,0,0.15);
        padding: 40px 60px;

        a.wp-block-button__link {
            padding: 15px 60px !important;
        }

        @include mobile {
            padding: 30px 20px;
        }
    }
    .wp-block-cover.home--academy-section {

        overflow: hidden;
        .wp-block-buttons {
            margin-top:32px;
            justify-content: flex-end;
            text-align: right;
        }
        img{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            max-width: none;
            max-height: none;
            -o-object-fit: cover;
            object-fit: cover;
            outline: none;
            border: none;
            box-shadow: none;
        }
    }
    .wp-block-cover-image.home--academy-section.has-background-dim:not(.has-background-gradient):before, 
    .wp-block-cover.home--academy-section.has-background-dim:not(.has-background-gradient):before {
        border-radius: 20px;
    }

    .entry {
        .wp-block-button__link {
            font-weight: normal;
            font-size: size(16);

            &--shadow{

                a {
                    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
                }
            }
        }
    }

    .wp-block-buttons.width-100 {
        .wp-block-button, .wp-block-button__link {
            width: 100%;
        }
    }
    
    .knowledge-section--terms {
        .taxonomy-terms {
            .quantity{
                display: none;
            }
            a.taxonomy-terms-card {
                &.all-terms {
                    color: var(--secondary);
                    box-shadow: none;
                    justify-content: center;
                    transform: none;
                    font-weight: 500;
                    text-align: right;
                }
            }

            @include mobile {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                grid-column-gap: 20px;
                grid-row-gap: 20px;

                a.taxonomy-terms-card {
                    min-height: 150px;
                }

                .taxonomy-terms-card:not(.with-description) .title {
                    font-size: 14px;
                    line-height: 17px;
                    }
            }
        }
    }

    /*END*/

    .entry .entry-content hr.wp-block-separator {
        height: 3px;
        border-radius: 10px;
        background-color: #DDDDDD;
        border-top: 0px;
    }

    .wp-block-newspack-blocks-carousel .swiper-slide {
        @include tablet {
            max-height: none;

            .entry-wrapper {
                background-color: #191E23;
                position: unset;
            }
        }
    }

    &__align-items {
        align-items: flex-end;
    }


    .article-section-title {
        font-size: 18px;
    }

    /*Ekuatorial and Pasifika
    desktop: 1 column with two posts
    mobile: 2 column 50% 50%
    */
    .newspack-mobile-two-columns {
        @include tablet {
            margin-bottom: 15px;

            >div {
                display: flex;
            }

            article {
                width: 50%;

                &:first-of-type {
                    margin-right: 15px;
                }
            }
        }
    }

    .newspack-mobile-no-excerpt {
        @include tablet {
            article {
                .entry-wrapper p {
                    display: none;
                }
            }
        }
    }

    .wp-block-newspack-blocks-carousel {
        .entry .entry-content .wp-block-group .wp-block-group__inner-container>* {
            margin-top: 0px;
        }

        .amp-carousel-button,
        .swiper-button {
            background-color: rgba(25, 30, 35, 0.3);
            border-radius: 50px;
        }

        article .entry-wrapper {
            background-color: rgba(25, 30, 35, 0.8);
            padding: 1em;
        }

        .swiper-pagination-bullet {
            background: var(--primary);
        }

        .swiper-pagination-bullet.swiper-pagination-bullet-active,
        .swiper-pagination-bullet[selected] {
            width: 12px;
        }

        .swiper-pagination-bullets {
            height: calc(18px + 12px);
        }

        @include tablet {
            article {
                figure.post-thumbnail {
                    height: auto;
                }

                .entry-wrapper {
                    position: relative;
                }

                .entry-title {
                    font-size: size(18);
                }
            }

            .swiper-button-prev {
                left: 10px;
            }

            .swiper-button-next {
                right: 5px;
            }

            .swiper-button-next,
            .swiper-button-prev {
                display: block;
                top: 30%;
            }
        }
    }

    /* HOMEPAGE Post block */
    .wp-block-newspack-blocks-homepage-articles {

        /* Main highlight InfoAmazonia*/
        &.image-alignbehind{
            &.alignfull{
                padding-left: 0px;
                padding-right: 0px;
                margin-top: 0px;

                figure.post-thumbnail {

                    &:after{
                        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #000000 100%);
                    }
                    a {
                        padding-top: unset;
                        overflow: unset;
                        position: unset;
                        display: unset;
                        height: unset;
                    }
                }

                .entry-wrapper {
                    max-width: 90%;
                    width: 1200px;
                    margin: 30px auto;
                    padding: 0px;

                    .cat-links {
                        opacity: 0.6;
                        color: #FFFFFF;
                        font-size: size(18);
                    }
                }
            }
        }

        &.wpnbha .cat-links{
            font-size: size(14);
            font-family: var(--primary-font);
            a   { 
                color: var(--primary);
            }
        }

        &.ts-2,
        &.ts-3,
        &.ts-4,
        &.ts-5,
        &.ts-7 {
            .entry-meta {
                font-size: size(14);
            }

            .entry-wrapper {
                p {
                    font-size: size(16);
                    line-height: 22px;
                }
            }

        }

        /*block font-size: 2*/
        &.ts-2 article {

            /*@include desktop{*/
            .entry-title {
                font-size: size(16);
            }

            /*}*/
        }


        /*block font-size: 3*/
        &.ts-3 article {
            @include desktop {
                .entry-title {
                    font-size: size(18);
                }
            }

        }

        /*block font-size: 4*/
        &.ts-4 article {
            @include desktop {
                .entry-title {
                    font-size: size(24);
                }
            }
        }

        /*block font-size: 5*/
        &.ts-5 article {
            @include desktop {
                .entry-title {
                    font-size: size(28);
                }
            }
        }

        /*block font-size: 7*/
        &.ts-7 article {
            @include desktop {
                .entry-title {
                    font-size: size(50);
                }
            }
        }
    }

    .wpnbha img.avatar {
        border-radius: 50px;
    }

    .wp-block-columns {
        margin-bottom: 0px;

        .button__fullwidth-link a {
            width: 100%;
        }
    }

    hr {
        margin: 0px !important;
    }

    .button-mt-0 {
        margin-top: 0px !important;
    }

    /* Hivos: Case study section in mobile*/
    .wp-block-button.btn-casestudy-mobile a {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    }


    /* Hivos: Video Gallery section*/
    .video-gallery-block, .video-gallery-block {
        margin-bottom: 0px !important;
    }

    @include tablet {
        .home--about-section {
            align-items: flex-end;

            h1 {
                font-size: size(18);
                line-height: size(22);
                margin-bottom: size(15);
            }

            h4 {
                margin-top: size(15);
                font-size: size(14);
                line-height: size(17);
            }
        }

        .home--vlog-section {
            padding-top: 0;

            h2 {
                margin-top: 0px;
            }

            p {
                font-size: size(14);
            }
        }

        .knowledge-section, .resources-section, .news-stories-section, .radio-podcast-section {
            p {
                margin: 15px 0 0 ;
                font-size: size(14);
            }

            .wp-block-column:empty {
                margin-bottom: 0;
            }
        }

        .radio-podcast-section {
            p {
                margin-bottom: 15px;
            }
        }

    }
}




.dark-theme {
    transition: all .2s ease-in-out;
    background-color: #191E23;

    .home__block-sidebar.has-background {
        .wp-block-group {
            background-color: #23282D;
        }
    }
}