.page-template-default {
    .site-content {
        h1.entry-title {
            color: var(--secondary);
        }
    }
}

.page-template {
    header.entry-header {
        display: none;

        h1.entry-title {
            font-size: size(40);
        }
    }

    .site-content {
        @include desktop{
            margin-top: 0px;
        }


        @include tablet{
            margin-top: 0px;
        }
    }

    .entry .entry-content .wp-block-cover:first-child {
        margin-top: 0px;
    }

    &.page-template-single-feature {
        .entry-content {
            margin-top: 2rem;

            @include mobile {
                margin-top: 0;
            }
        }
    }

    &.page-template-page-no-sidebar {
        header.entry-header {
            display: inline-block;
            h1.entry-title {
                color: var(--secondary);
            }
        }

        .site-content {
            @include desktop {
                margin-top: 4rem;
            }

            #main {
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 780px;
                width: 100%;

                .main-content {
                    width: 100%;
                }
            }
        }
    }
}

.dark-theme {
    &.page:not(.home) {
        h1, h2, h3, h4, h5 {
            color: white;
        }

        #content {
            .entry-content {
                a {
                    color: white;
                    opacity: 0.6;
                }
            }
        }
    }
}

