.search {
    .page-title {
        margin-bottom: 60px;
        font-size: size(18);
        
        &::before {
            display: none;
        }
    }

    .page-header {
        width: auto;
    }

    
    main#main {

        @include mobile {
            width: 100%;
        }

        span.custom-separator {
            margin: 0 5px;
        }

        article {

            &.entry {
                margin-top: 30px;

                .cat-links{
                    font-size: size(18);

                    @include mobile {
                        font-size: size(16) !important;
                    }
                }

                .entry-title {
                    font-size: size(24) !important;
            
                    @include mobile {
                        font-size: size(16) !important;
                    }
            
                }
            }

            .entry-content p {
                font-size: size(16);
                letter-spacing: 0;
                line-height: 22px;

                @include mobile {
                    display: none;
                }
            }

            &.has-post-thumbnail {
                @include mobile {
                    display: flex;
                }

                .post-thumbnail {
                    flex-basis: 35%;
                    @include mobile {
                        margin-right: 10px;
                    }
                }

                .entry-container {
                    @include mobile {
                        flex-basis: 65%;
                    }

                    .entry-title {
                        @include mobile {
                            font-size: size(16) !important;
                        }
                    }
                }
            }
        }

    }

    .pre-itens-header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #DDDDDD;
        padding-bottom: 34px;
        margin-bottom: 30px;

        .found-itens-quantity {
            color: #0A0A0A;
            font-size: size(16);
            font-family: $f_secondary;
            letter-spacing: 0;
            line-height: 20px;

            @include mobile {
                font-size: size(14);
            }
        }

        .sorting-method {
            color: rgba(10, 10, 10, 0.5);
            font-size: size(16);
            letter-spacing: 0;
            line-height: 20px;
            text-align: right;
            display: flex;
            position: relative;
            margin-right: 15px;
            font-family: $f_secondary;

            @include mobile {
                font-size: size(14);
            }

            .options {
                select {
                    border: none;
                    color: var(--primary);
                    background: unset;
                    font-weight: bold;
                }
            }

            button.option {
                top: 1px;
            }

        }
    }

    form.search-form {
        margin-bottom: 29px;

        .search-input-wrapper {
            position: relative;
            margin-bottom: 62px;

            input[type="search"] {
                height: 66px;
                border: 2px solid #DDDDDD;
                border-radius: 10px;
                outline: none;
                overflow: hidden;
                background-color: transparent;
                font-size: size(18);
                font-weight: 500;


                &::placeholder {
                    color: #33333383;
                    text-transform: lowercase;
                }
            }

            .search-submit {
                background-color: var(--secondary);
                border-radius: 0 10px 10px 0;
                color: white;
                padding: 0 29px;
                right: 0;
                top: 0;
                bottom: 0;

                &:hover {
                    svg {
                        transition: all .2s ease-in-out;
                        transform: scale(1.1);
                    }
                }

                svg {
                    transition: all .2s ease-in-out;
                }
            }

        }

        .filters {
            margin-bottom: 34px;

            &--title {
                color: #0A0A0A;
                font-size: size(16);
                font-family: $f_secondary;
                letter-spacing: 0;
                font-weight: bold;
                line-height: 21px;

                span {
                    color: var(--primary);
                    padding-left: 10px;
                }
            }

            &--itens {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 14px;

                @include tablet {
                    grid-template-columns: auto;
                }
            }

            &--item {
                position: relative;

                & > * {
                    @include tablet {
                        min-width: 100%;
                    }
                }

                &:after {
                    display: block;
                    content: "\f0d7";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    position: absolute;
                    right: 11px;
                    top: 9px;
                    color: var(--primary);
                }

                .option-filter {
                    color: white;
                    position: absolute;
                    z-index: 99999;
                    top: 36px;
                    height: 41px;
                    background: white;
                    border: 0px;
                    border-radius: 10px 10px 0 0;
                }

                select, & > input {
                    height: 36px;
                    padding: 0 12px;
                }

                select,
                & > input, .select2-container--default .select2-selection--multiple {
                    width: 100%;
                    min-height: 42px;
                    border: 2px solid #DDDDDD;
                    border-radius: 10px;
                    background-color: transparent;
                    color: $primary_darker;
                    font-size: size(16);
                    font-weight: 500;
                    letter-spacing: 0;
                    appearance: none;
                    line-height: 19px;
                    outline: none;

                    &::placeholder {
                        color: $primary_darker
                    }

                }

                .select2-search__field {
                    color: $primary_darker;
                    font-size: size(16);
                    font-weight: 500;
                    letter-spacing: 0;
                    line-height: 25px;
                    outline: none;
                    padding-left: 6px;

                    &::placeholder {
                        color: $primary_darker;
                    }
                }

                .select2-selection__choice {
                    background-color: var(--primary-lighter-75);
                    color: var(--primary);
                    border: 0;
                    font-size: size(16);
                    font-weight: normal;
                    padding: 2px 4px 2px 0;

                    button.select2-selection__choice__remove {
                        position: initial;
                        line-height: unset;
                        border: 0;
                        color: var(--primary);
                        padding-left: 7px;

                        &:hover {
                            background: none;
                        }
                    }
                }


                

                @include tablet {
                    margin-bottom: 15px;
                }
            }
        }

    }

    a.external-link {
        color: var(--primary);
        padding-right: 15px;
    }

}

.search-form {
    label[for=search-form-3],
    label[for=search-form-2],
    label[for=search-form-1] {
        display: initial;
    }
}

.daterangepicker {
    button.applyBtn.btn.btn-sm.btn-primary {
        background-color: var(--primary);
        border-color: var(--primary);
    }

    .calendar-table {
        td {
            &.active {
                background-color: var(--primary);

                &.in-range {
                    background-color: var(--primary);
                }
            }

            &.in-range {
                background-color: #f7f7f7;
            }
        }
    }

    .daterangepicker_input i {
        top: 5px;
    }
}


.select2-dropdown {
    li.select2-results__option.select2-results__option--selectable.select2-results__option--highlighted {
        background-color: var(--primary);
    }

    .select2-results__option--selected {
        background-color: rgba(94, 94, 94, 0.07);
    }

    .select2-results__option--selectable {
        font-size: size(16);
    }
}



.dark-theme {
    &.search {
        form.search-form .search-input-wrapper input[type="search"], .found-itens-quantity, .sorting-method {
            color: white;
        }

        form.search-form .filters--item  input {
            color: white
        }
        
        .selectric {
            span {
                color: white;
            }
        }

        .no-results.not-found {
            p {
                color: white
            }
        }

        form.search-form .filters--item .select2-selection__choice {
            background-color: var(--primary-opacity-1);
        }

        .cat-links {
            a {
                &:hover {
                    opacity: 0.7;
                    color: #767676;
                }
            }
        }

        .entry-meta .byline{ 
            a {
                &:hover {
                    opacity: 0.7;
                    color: #767676;
                }
            }
        }
    }
}