.single-knowledge_exchange {
    section.webinar {
        margin-top: -4rem;

        @include mobile {
            margin-top: -1.5rem;
        }

        header.featured-area {
            background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%);
            background-color: #555D66;
            padding-top: 34px;
            padding-bottom: 81px;
            margin-bottom: 48px;

            @include mobile {
                padding-bottom: 51px;
            }

            .wrapper {
                flex-direction: column;

                @include mobile {
                    flex-wrap: inherit;
                }

                &.mobile-area {
                    display: none;

                    @include mobile {
                        display: block;
                    }

                    h1, p {
                        color: white;
                    }

                    p {
                        font-size: size(22);
                        line-height: size(33);
                        opacity: 0.8;
                        margin: 0;
                    }
                    
                }

                .cat-links {
                    display: flex;
                    justify-content: center;
                    // padding-bottom: 34px;


                    &, a {
                        opacity: 1;
                        color: white;

                        @include tablet {
                            font-size: size(14);
                        }
                    }

                    a:first-child {
                        font-weight: normal;
                    }
                }
            }

        }

        #primary {
            .cat-links {
                display: none;
            }

            .wrapper-entry-title {
                @include mobile {
                    display: none;
                }

                h1 {
                    color: var(--secondary);
                }
            }

            .post-excerpt {
                @include mobile {
                    display: none;
                }
                
                p {
                    color: var(--primary-darker-15);
                    margin-bottom: 0;
                    margin-top: 15px;
                }
            }
        }
    }
}