.page-template-template-vlog-series {
    section#primary.custom-archive{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        #main {
            width: 100%;
            align-content: baseline;
            
            @include mobile{
                width: 100%;
            }

            header{
                padding: 0;
                border-bottom: 1px solid #DDDDDD;
                text-shadow: none;
                margin-bottom: 0;

                @include mobile{
                    .term-description{
                        display: none;
                    }
                }
            }

            .item-card .item-card--content{
                .excerpt{
                    height: 90px;
                    overflow: hidden;
                    display: block;
                }
            }
            #faceted-posts-search{
                flex-grow: 1;
            }

            section.related-content {
                width: 100%;
                margin-top: 80px;
        
                @include mobile {
                    margin-top: 0;
                    width: 105%;
                }

                .related-vlog-series {
                    h4 {
                        color: var(--primary);
                        text-transform: uppercase;
                    }
        
                    .related-term-group {
                        margin-bottom: 70px;

                        @include tablet {
                            margin-bottom: 30px;
                        }

                        h3 {
                            font-size: 1.875rem;
                            line-height: 2.2rem;
                            color: var(--secondary);
                            font-weight: bold;
                            margin: 0;

                            a {
                                color: var(--primary);
                            }
                        }

                        .btn {
                            background-color: var(--secondary);
                            border-radius: 5px;
                            color: #fff;
                            min-width: 220px;
                            padding: 10px 40px;
                            text-transform: uppercase;

                            @include mobile {
                                display: inline-block;
                                margin-bottom: 45px;
                                min-width: auto;
                            }

                            &.only-mobile {
                                display: none;

                                @include mobile {
                                    display: inline-block;
                                }
                            }
                        }

                        .video-gallery-wrapper{
                            grid-template-columns: 1fr 1fr 1fr;
                            box-shadow: none;
                            grid-column-gap: 0;
                           
                            .serie-info{
                                margin-right: 30px;

                                @include mobile {
                                    margin-right: 0;
                                    padding-right: 15px;

                                    .btn {
                                        display: none;
                                    }
                                }
                            }

                            .scroll-ratio{
                                .sidebar-itens{
                                    box-shadow: inset 0px -14px 18px -3px rgba(0, 0, 0, 0.3);
                                    height: 100%;
                                    padding-left: 20px;

                                    @include tablet {
                                        padding-left: 0;
                                    }

                                    .embed-template-block{
                                        p:first-child{
                                            overflow: hidden;
                                        }
                                    }

                                    @include mobile{
                                        box-shadow: none;
                                        overflow-y: hidden;
                                        padding-left: 0;
                                        padding-right: 20px;
                                    }

                                }
                            }

                            .embed-template-block, .scroll-ratio{
                                height: 100%;

                                @include tablet {
                                    
                                }

                                figure{
                                    height: 100%;
                                    
                                    .wp-block-embed__wrapper{
                                        height: 100%;
                                    }
                                }
                            }

                            > .embed-template-block {
                                @include mobile {
                                    padding-right: 15px;
                                }
                            }
                        }

                        .embed-template-block {
                            p {
                                color: var(--primary);

                                @include mobile {
                                    font-size: 14px;
                                    padding-left: 0;
                                }
                            }

                            .wp-block-embed__wrapper::before {
                                display: none;
                            }

                            .video-excerpt {
                                display: none;
                            }
                        }

                        // Excerpt
                        .scroll-ratio-excerpt {
                            .video-excerpt {
                                display: none;
                                height: 100%;
                                left: 0;
                                max-height: 100%;
                                overflow-y: auto;
                                padding-left: 20px;
                                position: absolute;
                                top: 0;
                                width: 100%;

                                .video-excerpt-content {
                                    display: grid;
                                    flex-direction: column;
                                    justify-content: center;
                                    min-height: min-content; /* needs vendor prefixes */

                                    p {
                                        display: flex;
                                        align-items: center;

                                        &:first-child {
                                            margin-top: 0;
                                        }

                                        &:last-child {
                                            margin-bottom: 0;
                                        }
                                    }
                                }

                                &.video-excerpt-show {
                                    display: flex;
                                    flex: 1;
                                    overflow: auto;

                                    @include mobile {
                                        display: none;
                                    }
                                }

                                @include tablet {
                                    padding: 0 35px 0 0;
                                }

                                &::-webkit-scrollbar {
                                    width: 10px;

                                    @include tablet {
                                        height: 6px; 
                                    }
                                }

                                &::-webkit-scrollbar-button {
                                    width: 0px;
                                    height: 0px;
                                }

                                &::-webkit-scrollbar-thumb {
                                    background: #C1C1C1;
                                    border: 0px none white;
                                    border-radius: 10px;
                                }

                                &::-webkit-scrollbar-track {
                                    background: rgba(250, 250, 250, 0.2);
                                    border: 0px none #ffffff;
                                    border-radius: 0px;
                                }

                                &::-webkit-scrollbar-corner {
                                    background: transparent;
                                }

                                @include tablet {
                                    position: initial;
                                    width: calc(100% + 20px);
                                    display: flex;
                                    overflow-x: auto;
                                    margin-top: 20px;
                                    align-items: flex-start;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include mobile{
        .page-header{
            .term-description{
                display: none;
            }
        }

        .mobile-only{
            display: block;
        }
    }
}

.vlog-series-loadmore {
    background-color: var(--secondary);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    min-width: 220px;
    padding: 10px 40px;
    text-transform: uppercase;
    text-align: center;

    @include mobile {
        display: inline-block;
        margin-bottom: 45px;
        min-width: auto;
        width: calc(100% - 20px);
    }
}
.vlog-series-loadmore:hover {
    font-weight: bold;
}
