.archive.tax-podcast_serie {
    --darker-primary: #023E20;
    .page-title.article-section-title.category-header {
        color: var(--darker-primary);
    }

    h1 {
        color: var(--secondary);
        font-size: 2.5rem;
        font-weight: bold;
    }

    h4 {
        text-transform: uppercase;
        color: var(--darker-primary);
    }

    .type-description {
        p {
            font-size: size(18);
            line-height: size(22);
        }
    }

    .faceted-posts-search__info-sort {
        margin-bottom: 0;
    }

    .faceted-posts-search__filters {
        border-bottom: 0px;
        margin-bottom: 20px;
    }

    .item-card--content{
        p.excerpt{
            display: inherit;
        }
    }
    
    .item-card--thumbnail:before {
        content: "\f58f";
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
        z-index: 1;
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        font-size: 40px;

        @include mobile {
            font-size: 30px;
        }
    }

    .featured-episodes {
        margin-bottom: 60px;

        .featured-episode-content {
            margin-bottom: 30px;

            *:not(iframe) {
                display: none;
            }
        }
    }
    
}