.page-template-template-podcast{
    .related-content{
        width: 100%;
        .related-vlog-series{
            max-width: 900px;
            margin: 0 auto;
        }
    }

    #primary{
        main .faceted-posts-search__posts-list{
            grid-template-columns: repeat(3, 1fr) !important;
            position: relative;
            header{
                width: 100%;
                display: block;
            }
            @include mobile{
                grid-template-columns: repeat(1, 1fr) !important; 
            }
            .podcast-card{
                .item-card--thumbnail {
                    position: relative;
                    margin-bottom: 15px;
                    border-radius: 20px;
                    box-shadow: inset 0 -14px 18px -3px rgba(0,0,0,.3);
                    isolation: isolate;
                    i{
                        position: absolute;
                        color: #fff;
                        font-size: 50px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 9999;
                    }
                }
                .item-card--content{
                    .date{
                        margin-top: 3px;
                        color: #0B0B077D;
                        font-size: 0.75rem;
                    }
                }
            }
        }
    } 
}