.archive.tax-vlog_serie {
    #content {
        margin-top: 0px;
    }

    header.page-header {
        background-image: var(--term-image);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        color: white;
        text-shadow: 0 2px 4px rgba(0,0,0,0.5);
        padding: 65px 0;
        margin-bottom: 60px;

        @include mobile {
            padding: 20px 0;
            margin-bottom: 20px;

            .term-description {
                display: none;
            }

        }

        > .wrapper {
            flex-direction: column;
        }

        h3.taxonomy-title {
            font-size: 1.125rem;
            text-transform: uppercase;
            margin: 0;

            a {
                color: white;
            }
        }

        .term-title {
            color: white;

            h1 {
                font-size: 2.5rem;
                @include mobile {
                    font-size: 2.0rem;
                }
                margin: 45px 0;
            }

            i{
                margin-right: 50px;
                @include mobile {
                    margin-right: 10px
                }
            }
        }

        .term-description {
            p {
                padding: 0;
                margin: 0;
            }
        }
    }

    header.mobile-only {
        display: none;

        @include mobile {
            display: block;
            margin-bottom: 20px;
        }
    }

    .faceted-posts-search {
        &__posts-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 30px;

            @include tablet {
                grid-template-columns: auto;
            }
        }

    }

    .content-area {
        @include mobile {
            display: flex;
            flex-direction: column;
        }

        .category-page-sidebar,
        aside {
            @include mobile {
                order: 3;
            }
        }
    }
}