.archive.tax-knowledge_exchange_type, .page-template-template-vlog-series, .page-template-template-podcast {
    section#primary.custom-archive{

        &.no-sidebar{
            main {
                width:100%;
        
        
                .faceted-posts-search {
                    &__posts-list {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-column-gap: 30px;
            
                        @include tablet {
                            grid-template-columns: auto;
                        }
                    }
            
                }


                @include desktop {
                    .load-more__section {
                        max-width: 750px;
                        margin: auto;
                    }
                }
            }
        }

        main {
            .faceted-posts-search {
                &__posts-list {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-column-gap: 30px;
        
                    @include tablet {
                        grid-template-columns: auto;
                    }
                }
        
            }
        }
    }

    #content {
        margin-top: 0px;
    }

    header.page-header {
        background-image: var(--term-image);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: var(--term-color);
        color: white;
        text-shadow: 0 2px 4px rgba(0,0,0,0.5);
        padding: 65px 0;
        margin-bottom: 60px;

        @include mobile {
            padding: 20px 0;
            margin-bottom: 30px;

        }

        > .wrapper {
            flex-direction: column;
        }

        h3.taxonomy-title {
            font-size: 1.125rem;
            text-transform: uppercase;
            margin: 0;
        }

        .term-title {
            color: white;

            h1 {
                font-size: 2.5rem;
                @include mobile {
                    font-size: 2.0rem;
                }
                margin: 45px 0;
            }

            i{
                margin-right: 10px;
                @include mobile {
                    margin-right: 10px
                }
            }
        }

        .term-description {
            @include mobile{
                display: none;
            }

            p {
                padding: 0;
                margin: 0;
            }
        }
    }
}