footer#colophon {

    /* Footer */
    #colophon,
    #colophon .social-navigation a {
        color: var(--secondary);
    }

    @include tablet {
        margin-bottom: 60px;
    }

    .footer-widgets {
        .widget {
            &:last-child {
                @include mobile {
                    margin-right: 2rem;
                }
            }        
        }
    }

    .footer-branding {
        .wrapper {
            @include mobile {
                display: block;
                text-align: center;
            }

            .social-navigation {
                @include mobile {
                    /* justify-content: center; */ 
                    margin-top: 20px;
                }
            }

            .footer-logo-link {
                max-width: 448px;
            }

            .social-navigation {
                a {
                    color: $primary_darker;
                }
            }
        }
    }

    .signature{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: small;
        line-height: 50px;
        img{
            height: 50px;
            width: auto;
            margin-left: 5px;
        }
    }

    .widget.widget_nav_menu {
        .widget-title {
            color: $accent_color;
            font-size: size(18);
            font-weight: 900;
            font-family: var(--primary-font);
        }

        ul {
            li {
                a {
                    color: $primary_darker;
                    font-size: size(16);
                    letter-spacing: 0;
                    line-height: 23px;
                    font-weight: 500;
                }
            }
        }
    }

    .footer-branding .wrapper,
    .footer-widgets:first-child {
        border-top: 1px solid #979797 !important;
    }

    .site-info {
        font-size: size(12);
        background: #F5F5F5;

        .wrapper.site-info-contain {

            @include mobile{
                text-align: center;
            }

            border: none;

            & > *:last-child {
                margin-left: auto;
            }

            .copyright {
                align-self: center;
                margin-top: auto;
                margin-bottom: auto;
            }

            .credit {
                display: flex;
                flex-direction: row;
                height: fit-content;
                margin-top: auto;
                margin-bottom: auto;

                p, a {
                    font-size: size(12);
                    margin: 0;
                    font-weight: bold;
                }

                p {
                    margin-right: 3px;
                }

                .hacklab {
                    color: #191E23;
                }

                .hacklab-decoration-marker {
                    color: #E84118;
                }


                @include mobile{
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    @include desktop {
        .widget {
            margin: 0 0 1rem;
        }
    }

    .dark-logo {
        display: none;
    }
}


.dark-theme {
    footer#colophon {
        .widget-title {
            color: white;
        }

        p {
            color: white;
            font-size: size(14);
        }

        .credit p {
            color: #767676;
            font-size: size(12);
        }

        .light-logo.defined-dark {
            display: none;
        }

        .dark-logo {
            display: block;
            margin: 0 auto;
        }

        .footer-logo-link {
            img.light-logo {
                filter: brightness(0) invert(1);
            }
        }

        ul {
            li {
                a {
                    color: white;
                }
            }
        }
    }
}