/* STW - NEW HEADER */
$primary_darker: #023E20;
$secondary: #EB2F06;
$accent_color: var(--secondary);

// body:not(.single){
//     margin-top: 157px;
// }

 body {
    @include desktop{
        padding-top: 157px;
    }
}


// Styles to extend
.button-reset-style {
    background: none;
    color: white;
    font-size: size(18);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    
    i {
        padding-right: 15px;
    }
}

.language-switter-default {
    display: flex;
    align-items: center;
    color: white;
    min-height: 100%;

    > span {
        display: block;
        margin-right: 10px;

        @include mobile {
            display: none;
        }
    }

    > div {
        padding: 0;
        border: 0;

        ul {
            li {
                a {
                    padding: 0;
                    margin: 3px 10px;
                }

                &:last-child {
                    a {
                        padding-right: 0;
                    }
                }

                
                a {
                    color: white;
                    font-size: size(14);

                    &:hover {
                        font-weight: normal;
                    }

                }
                
                &.wpml-ls-current-language {
                    border-top: 3px solid white;
                    margin-right: 5px;

                    @include mobile {
                        border-top: none;
                        border-bottom: 2px solid white;
                    }
                    
                    a {
                        font-weight: bold;
                        padding: 3px 0;

                        @include mobile {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

$header-sticky-height: 60px;
$header-sticky-icons-color: #023E20;

@mixin sticky-header {
    &--sticky {
        transform: translateY(0);
        height: $header-sticky-height;
        box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3);
        display: flex;
        align-items: center;
        position: relative;
        background-color: #F5F5F5;
    
        @include print {
            display: none;
        }
    
    
        @include tablet{
            /*
            background-image: url($dir_assets + 'images/header-bg.png');
            background-position: 0 -1px;
            background-size: cover;
            */
            background-color: #0a854a;
            button{
                background-color: transparent;
                padding: 0;
            }
        }
    
        .wrapper {
            display: flex;
            align-items: center;
            
            .left-content, .right-content, .center-content {
                display: flex;
                justify-content: center;
                align-items: center;
            }
    
            .hamburger-menu {
                //@extend .button-reset-style;
                .button-reset-style {
                    background: none;
                    color: white;
                    font-size: size(18);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    
                    i {
                        padding-right: 15px;
                    }
                }

                width: 30.75px;
                color: $header-sticky-icons-color;
                background-color:transparent;
          
                @include tablet {
                    color: white;
                    
                    span {
                        display: none;
                    }
                }
            }
    
            button.search {
                width: 33px;
                color: $header-sticky-icons-color;
                display: none;
    
                @include tablet {
                    display: block;
                    color: white;
                }
            }
    
            a.logo {
                display: flex;
                justify-content: center;
                align-items: center;
    
                @include mobile {
                    // position: absolute;
                    // left: 50%;
                    // transform: translateX(-50%);
                }
    
                .logo-title {
                    font-family: var(--special-heading-font);
                    color: #0B0B07;
                    font-size: size(18);
                    font-weight: bold;
                }
    
                img  {
                    width: 179px;
                    margin-left: 10px;
    
                    @include desktop{
                        filter: brightness(0) saturate(100%) invert(20%) sepia(99%) saturate(2366%) hue-rotate(146deg) brightness(103%) contrast(92%);
                    }
    
                    @include mobile {
                        margin-left: 0;
                    }
                }
            }
    
            button.search {
                //@extend .button-reset-style;
                .button-reset-style {
                    background: none;
                    color: white;
                    font-size: size(18);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    
                    i {
                        padding-right: 15px;
                    }
                }
    
                @include mobile {
                    display: flex;
                }
            }
    
            .language-area {
                position: relative;
                display: none;
    
                @include tablet {
                    display: block;
                }
                
                button[action="toggle-language-switcher"] {
                    background: none; 
                    text-transform: capitalize;
                    padding: 3px 0;
                    color: white;
                    border-radius: 0;
                    border-bottom: 2px solid white;
                    font-size: 0.875rem;
                    margin-right: 21px;
                    position: relative;
                    z-index: 2;
                }
    
                .language-switter {
                    //@extend .language-switter-default;
                    .language-switter-default {
                        display: flex;
                        align-items: center;
                        color: white;
                        min-height: 100%;
                    
                        > span {
                            display: block;
                            margin-right: 10px;
                    
                            @include mobile {
                                display: none;
                            }
                        }
                    
                        > div {
                            padding: 0;
                            border: 0;
                    
                            ul {
                                li {
                                    a {
                                        padding: 0;
                                        margin: 3px 10px;
                                    }
                    
                                    &:last-child {
                                        a {
                                            padding-right: 0;
                                        }
                                    }
                    
                                    
                                    a {
                                        color: white;
                                        font-size: size(14);
                    
                                        &:hover {
                                            font-weight: normal;
                                        }
                    
                                    }
                                    
                                    &.wpml-ls-current-language {
                                        border-top: 3px solid white;
                                        margin-right: 5px;
                    
                                        @include mobile {
                                            border-top: none;
                                            border-bottom: 2px solid white;
                                        }
                                        
                                        a {
                                            font-weight: bold;
                                            padding: 3px 0;
                    
                                            @include mobile {
                                                font-weight: 600;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    display: none;
                    position: absolute;
                    top: 30px;
                    left: -10px;
                    background: var(--primary);
                    padding: 4px;
                    border-radius: 8px;
                    z-index: 2;
    
                    > span {
                        display: none;
                    }
    
                    ul {
                        display: flex;
                        flex-direction: column;
    
                        li {
                            &:last-child {
                                a {
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
    
                    &.active {
                        display: flex;
                    }
                }
    
                .blocker {
                    @include tablet {
                        &.active {
                            position: fixed;
                            top: 0;
                            left: 0;
                            background-color: transparent;
                            z-index: 1;
                            height: 100vh;
                            width: 100vw;
                        }
                    }
                }
            }
            
            .social-icons {
                @include tablet {
                    display: none;
                }
    
                .page--share {
                    display: flex;
    
                    & > div {
                        a {
                            width: 30px;
                            height: 30px;
                            background-color: var(--primary);
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: all .2s ease;
                            margin-right: 10px;
    
                            i {
                                color: white;
                            }
                        }
    
                        &.share-icon {
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: var(--primary);
                            margin-right: 10px;
                            border: 1px solid var(--primary);
                        }
                    }
                }
                
            }
    
            .center-content {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
    
                @include tablet {
                    display: none;
                }
    
                .post-title {
                    color: $header-sticky-icons-color;
                    font-family: var(--special-heading-font);
                    font-size: size(14);
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 21px;
                    text-align: center;
                    padding-left: 80px;
                }
            }
        }
    
        
    }
}

// Header
.header {
    $logo-size: 211px;
    $header-height: 157px;
    $header-action-icons-color: var(--search-icon-color);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    height: #{$header-height};

    @include tablet {
        height: #{$header-sticky-height};
    }

    &.sticky {
        position: fixed;
        height: $header-sticky-height;

    }
    
    @include mobile{
        .header--subheader, .header--main, .header--search{
            display: none;
        }
       
        @include sticky-header;
    }

    @include print {
        display: none;
    }
    // Apply sticky header to all pages
    * & {   
        // position: initial;

        // Sticky header logics
        &.sticky {
            // position: fixed;

            .header {
                
                @include sticky-header;

                &--content {
                    &.active {
                        position: absolute;
                        top: #{$header-sticky-height};
                        height: calc(100vh - #{$header-sticky-height});
                    }

                    ul.main-menu > li.active .sub-menu {
                        height: calc(100vh - #{$header-sticky-height});
                        display: block;

                        @include mobile {
                            height: auto;
                            padding-left: 20px;
                        }
                    }

                }

                &--search {
                    &.active {
                        height: calc(100vh - #{$header-sticky-height});
                        top: #{$header-sticky-height};
                    }
                }

                &--main {
                    // position: fixed;
                    top: 31px;
                    width: 100%;
                }

                &--subheader, &--main {
                    transform: translateY(-232px);
                    transition: all .5s ease;
                }

                &--content {
                    .sub-menu {
                        top: $header-sticky-height + 1px;
                    }
                }
            }   
        }

    }
    
    &--sticky {
        display: none;
        transform: translateY(-400px)
    }





    // Real header stuff
    &--subheader {
        background-color: $primary_darker;
        height: 31px;
        font-size: size(14);
        transition: all .4s ease;
        display: flex;

        > .wrapper {
            min-height: 100%;
        }

        .social-menu {
            display: flex;
            align-items: center;
            color: white;

            a {
                color: white;
            }

            .social-navigation {
                margin-left: 20px;    
            }
        }

        .languages-menu {
            .language-switter {
                @extend .language-switter-default;
                .wpml-ls-display, .wpml-ls-native{
                    text-transform: uppercase;
                }
            }
        }
    }
    
    &--main {
        background-color: #F5F5F5;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
        transition: all .4s ease;

        > .wrapper {
            display: flex;
            align-items: center;
            height: 126px;

            button {
                @extend .button-reset-style
            }

            .search-area form {
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 1px solid #FFFFFF;

                input {
                    background: none;
                    font-size: size(14);
                    color: #fff;
                    border: 0;
                    font-weight: bold;
                    padding: 0;
                    width: 130px;

                    &::placeholder {
                        color: #fff;
                        opacity: 0.6;
                    }
                }

                button {
                    width: 30px;
                }
            }

            .hamburger-menu {
                margin-right: 60px;
                color: $header-action-icons-color;

                i {
                    width: 31px;
                    max-width: 31px;
                    min-width: 31px;
                }

                @include mobile {
                    span {
                        display: none;
                    }
                }
            }

            button.search {
                color: $header-action-icons-color;
            }

            a.logo {
                display: flex;
                align-items: center;
                
                img {
                    // width: $logo-size;
                    // height: 126px;
                    // transform: translate(0px, -12px);
                }
            }
        }
    }

    &--content {
        position: absolute;
        left: -100vw;
        background-color: #F5F5F5;
        width: 30vw;
        height: calc(100vh - #{$header-height});
        font-family: var(--special-heading-font);
        border-top: 2px solid rgba(0,0,0,0.3);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
        z-index: 1;
        transition: all .2s ease-in-out;
        overflow: auto;
        // transform: translateX(-100vw);

        @include mobile {
            width: 100%;
        }

        &.active {
            // transform: translateX(0);
            left: 0;
            transition: all .2s ease-in-out;

            > ul.main-menu {
                > li {
                    &:hover, &.active {
                        .sub-menu {
                            // left: 100%;
                            left: 30vw;
    
                        }
                    }
                }
                
            }

        }
        
        // overflow-y: auto;

        ul {
            list-style: none;
            font-size: size(18);

            a {
                color: #0B0B07;
                text-transform: uppercase;

                &:hover {
                    font-weight: 500;
                }
            }
        }

        > ul.main-menu {
            margin: 0;
            padding: 0;
            padding-top: 20px;
            position: relative;

            > li {
                font-weight: 500;
                letter-spacing: 1.8px;
                display: flex;
                justify-content: space-between;

                @include mobile {
                    position: relative;
                    flex-direction: column;
                }
                

                &:hover, &.active {
                    background-color: #EEEEEE;
                    transition: all .2s ease-in-out;
                }

                > a {
                    padding-left: var(--padding-left);
                    padding-top: 15px;
                    padding-bottom: 15px;
                    cursor: pointer;
                    width: 100%;
                    transition: all .2s ease-in-out;

                    @include mobile {
                        padding-top: 6px;
                        padding-bottom: 6px;
                        max-width:75%;
                    }
                }

                .sub-menu {
                    width: 15vw;
                    height: calc(100vh - #{$header-height});
                    position: fixed;
                    top: $header-height + 1px;
                    left: -100vw;
                    padding: 20px 0px;

                    background-color: #F5F5F5;
                    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);

                    @include tablet-only{
                        width: 25vw;
                        left: -25vw;
                    }
                    
                    @include mobile {
                        position: initial;
                        width: 100%;
                        height: auto;
                        padding: 0;
                        display: none;
                    }


                    > li {
                        padding: 10px 30px;
                        
                        &:hover {
                            background-color: #EEEEEE;
                        }
                    }

                }

                .submenu-expand {
                    background: none;
                    color: $primary_darker;
                    transform: rotate(-90deg);
                    padding: 0;
                    float: right;
                    margin-right: 20px;

                    @include mobile {
                        transform: rotate(0deg);
                        position: absolute;
                        right: 0;
                        top: 7px;
                    }
                }
            }

            &.more-menu {
                position: initial;

                @include mobile{
                    display: none;
                }
                
                .more-menu--content {
                    .language-item-content {
                        margin-bottom: 10px;
                        
                        & > div {
                            padding: 0;

                            ul li {
                                &:first-child {
                                    a {
                                        padding-left: 0;
                                    }
                                }

                                &.wpml-ls-current-language {
                                    span {
                                        padding-bottom: 3px;
                                        border-bottom: 3px solid;
                                    }
                                }
                            }
                        }
                    }
                }

                .sub-menu {
                    li {
                        text-transform: uppercase;

                        button {
                            background: none;
                            color: rgb(51,51,51);
                            display: flex;
                            padding: 10px 0;
                            font-size: size(20);

                            &[action="dark-mode"] {
                                i {
                                    &:first-child {
                                        padding-left: 0;
                                    }

                                    padding: 0 10px;
                                }
                            }
                        }

                        .item--content.padded {
                            display: flex;

                            button[action="increase-size"], button[action="decrease-size"] {
                                margin-top: 15px;
                                font-size: size(16);

                                // i {
                                    &:first-child {
                                        padding-left: 0;
                                    }

                                    padding: 0 10px;
                                // }
                            }
                        }

                    }
                }
                
            }
        }

        .follow-us {
            padding-left: var(--padding-left);
            color: $primary_darker;
            text-transform: uppercase;
            font-size: size(18);
            font-weight: 500;
            margin-top: 15px;
            
            .social-navigation {
                margin-top: 15px;
            }
        }
    }

    &--search {
        // display: none;
        transform: translateY(-100vh);

        width: 100%;
        height: calc(100vh - #{$header-height});
        position: absolute;
        top: $header-height;
        background-color: #333;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transition: all .2s ease;

        &.active {
            display: flex;
            transform: translateY(0vh);
            transition: all .2s ease;
            opacity: 1;
        }

        .content-limiter {
            max-width: 33.333%;
            margin: 0 auto;
            width: 100%;

            @include tablet {
                max-width: 90%;
            }

            h3 {
                color: #555d66;
                font-size: 1.125rem;
                font-weight: 700;
                letter-spacing: 0;
                line-height: 22px;
                text-transform: uppercase;
                margin-bottom: 25px;
            }

            form {
                position: relative;

                input {
                    width: 100%;
                    height: 66px;
                    border: 2px solid #555d66;
                    border-radius: 10px;
                    color: hsla(0,0%,100%,.507);
                    outline: none;
                    overflow: hidden;
                    background-color: transparent;
                    padding-right: 69px;
                }

                button {
                    background-color: var(--secondary);
                    border-radius: 0 10px 10px 0;
                    color: #fff;
                    padding: 0 29px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                }
            }
        }
    }

}


// Action bar

.mobile-toolbar {
    display: none;

    .wrapper {
        justify-content: center;

        @include mobile {
            flex-wrap: nowrap;
            max-width: 100%;
        }

        .item {
            &.knowledge_exchange {
                order: 0;
            }

            &.case-studies{
                order: 1;
            }

            &.resource {
                order: 2;
            }

            &.share {
                order: 3;
            }

            

            a, i {
                color: var(--primary);
            }
        }
    }

    @include tablet {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        height: 60px;
        background: #F5F5F5;
        box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.3);
        z-index: 999999;
        bottom: 0;
        left: 0;
        width: 100%;

        @include print {
            display: none;
        }

        .item {
            position: relative;
            display: flex;
            justify-content: center;
            min-width: 63px;

            button[action=language-options]{
                i {
                    display: block;
                    font-style: normal;
                    margin-bottom: 3px;
                    text-transform: capitalize;
                }
            }
            
            .toggle-language-options {
                display: none;

                ul {
                    padding: 8px 15px;
                    margin-bottom: 0;
                    margin-top: 0;

                    li {
                        list-style: none;
                        a {
                            text-transform: capitalize;
                        }
                    }
                }

                &.active {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    bottom: 70px;
                    background: #F5F5F5;
                    color: black;
                    text-align: center;
                    box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.3);
                    border-radius: 14px;
                }
            }

            .toggle-options {
                display: none;

                &.active {
                    font-size: 14px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    position: absolute;
                    top: -100px;
                    background: #F5F5F5;
                    box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.3);
                    width: 56px;
                    border-radius: 15px;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    
                    li {
                        width: 100%;
                        margin: 0;
                        padding: 10px;

                        svg {
                            display: block;
                            margin: auto;
                        }
                    }
                }
            }

            button {
                padding: 10px;
                font-size: 14px;
                color: var(--primary);
                background: none;

                @media only screen and (max-width: 325px) {
                    padding: 8px;
                }

                i {
                    font-size: 18px;
                    margin-bottom: 6px;
                }
            }

            &--title {
                font-size: 12px;
                letter-spacing: 0;
                line-height: 15px;
                font-weight: normal;
                color: #023E20;
            }
        }


    }

}


// Dark mode
.dark-theme {
    .mobile-toolbar {
        background: #23282D;
        color: #f5f5f5;

        .item {
            .toggle-language-options {
                display: none;

                &.active {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    bottom: 70px;
                    background: #23282D;
                    color: white;
                    text-align: center;
                    border-radius: 14px;
                }
            }

            .toggle-options {
                &.active {
                    font-size: 14px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    position: absolute;
                    top: -100px;
                    background: #23282D;
                    box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.3);
                    width: 56px;
                    border-radius: 50px;
                }
            }

            button {
                color: white;
            }

            &--title {
                color: #f5f5f5;
                opacity: 0.60;
            }
        }

    }
}


// Arabic RTL
html[dir=rtl] {
    @include desktop {
        .header--content {
            left: auto;
            right: -100vw;

            &.active {
                right: 0;

                & > ul.main-menu > li:hover .sub-menu, & > ul.main-menu > li.active .sub-menu {
                    left: auto;
                    right: 30vw;
                }

                & > ul.main-menu > li > a {
                    display: flex;
                    justify-content: space-between;
                }

                .main-menu li, .follow-us {
                    margin-right: 0;
                    padding-right: 50px;
                    padding-left: 30px;
                }
            }
            
        }
    }

    @include tablet {
        .header--content ul.main-menu > li.active .sub-menu {
            min-width: 100%;
            box-shadow: none;
        }

        .header--content > ul.main-menu > li .submenu-expand {
            left: 30px;
            right: auto;
            transform: rotate(180deg);
        }
    }
}

.admin-bar {
    header.header {
        margin-top: 32px;
        z-index: 9999;
    }
}
