
nav[role=navigation].navigation.pagination {
    .nav-links > *.current {
        background-color: var(--secondary);
    }

    .nav-links > *  {
        background-color: unset;
    }
}
.circle {
    nav[role=navigation].navigation.pagination {
        .nav-links > *.current {
            border-radius: 50%;
        }
    }
}

/* PAGINATION STYLES*/
.pagination {
    border-top: 4px solid #DDDDDD;
    padding-top: 60px;
    text-align: center;
    display: inherit;
}

.pagination .nav-links > *.current {
    background-color: var(--secondary);
    color: #fff;
}

.pagination .nav-links > * {
    background-color: transparent;
    font-size: size(20);
    font-weight: bold;
    /*padding: 0.3rem 0.75rem 0.4rem 0.75rem;*/
}

.circle span.page-numbers.current {
    width: 38px;
    height: 38px;
}


.dark-theme {
        .nav-links {
            a {
                color: white;
                opacity: 0.6;
                &:hover {
                    opacity: 1.0;
                }
            }
            .page-numbers.dots {
                color: white;
            }
        }
}