$dir_font: '/wp-content/themes/jeo-theme/assets/fonts/';

@font-face {
	font-family: 'Museo Sans Rounded';
	font-style: normal;
	font-weight: 500;
	src: local('Museo Sans Rounded 500'), url($dir_font + 'MuseoSansRounded500.woff') format('woff');
}


@font-face {
	font-family: 'Museo Sans Rounded';
	font-style: normal;
	font-weight: 100;
	src: local('Museo Sans Rounded 100'), url($dir_font + 'MuseoSansRounded100.woff') format('woff');
}


@font-face {
	font-family: 'Museo Sans Rounded';
	font-style: normal;
	font-weight: normal;
	src: local('Museo Sans Rounded 300'), url($dir_font + 'MuseoSansRounded300.woff') format('woff');
}


@font-face {
	font-family: 'Museo Sans Rounded';
	font-style: normal;
	font-weight: 700;
	src: local('Museo Sans Rounded 700'), url($dir_font + 'MuseoSansRounded700.woff') format('woff');
}


@font-face {
	font-family: 'Museo Sans Rounded';
	font-style: normal;
	font-weight: bold;
	src: local('Museo Sans Rounded 900'), url($dir_font + 'MuseoSansRounded900.woff') format('woff');
}


@font-face {
	font-family: 'Museo Sans Rounded';
	font-style: normal;
	font-weight: 1000;
	src: local('Museo Sans Rounded 1000'), url($dir_font + 'MuseoSansRounded1000.woff') format('woff');
}
