.faceted-posts-search__date-range-picker-field {
    > input {
        border-radius: 5px;
        height: 40px;
        width: 100%;
        padding: 5px 10px;
        font-size: 1rem;
        border: 1px solid hsl(0,0%,80%);
        transition: all 100ms;

        &::placeholder {
            color: hsl(0,0%,50%);
        }

        &:focus {
            border: 1px solid var(--primary-color);
            box-shadow: 0 0 0 1px var(--primary-color);
            transition: all 100ms;
        }
    }
}