div.faceted-posts-search {

    margin-bottom: 60px;

    &__filters {
        @media (max-width: 1024px) {
            padding-bottom: 15px;
            border-bottom: 1px solid #DDDDDD;
            margin-bottom: 30px;
        }

        &-header {
            margin-bottom: 10px;

            button {
                background: none;
                color: inherit;
                display: flex;
                padding-left: 0;

                svg {
                    width: 10px;
                    margin-left: 10px;
                    color: var(--primary-color);
                }
            }
        }

        &-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 29px;
            grid-row-gap: 29px;

            &.hide {
                display: none;
            }

            @media (max-width: 1024px) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media (max-width: 780px) {
                grid-template-columns: auto;
                grid-row-gap: 5px;

                
                > div {
                margin-bottom: 15px;
                }
            }
        }

    }


    // &__search-field {
    //     position: relative;
    //     display: flex;
    //     align-items: center;
    
    //     > svg {
    //         position: absolute;
    //         right: 9px;
    //         width: 15px;
    //     }
    
    //     > input[type=search] {
    //         border-radius: 4px;
    //         width: 100%;
    //         transition: all 100ms;
    //         box-sizing: border-box;
    //         border: 1px solid hsl(0,0%,80%);
    
    //         &:focus {
    //             border: 1px solid var(--primary-color);
    //             box-shadow: 0 0 0 1px var(--primary-color);
    //         }
    //     }
    
    // }

    // &__date-range-picker-field {
    //     > input {
    //         border-radius: 5px;
    //         width: 100%;
    //         padding: 5px 10px;
    //         font-size: 1rem;
    //         border: 1px solid hsl(0,0%,80%);
    //         transition: all 100ms;
    
    //         &::placeholder {
    //             color: hsl(0,0%,50%);
    //         }
    
    //         &:focus {
    //             border: 1px solid var(--primary-color);
    //             box-shadow: 0 0 0 1px var(--primary-color);
    //             transition: all 100ms;
    //         }
    //     }
    // }
}