.faceted-posts-search__generic-selector-field {
    display: flex;
    align-items: center;

    .filter-placeholder {
        margin-right: 10px;
        font-size: 1rem;
        color: #0A0A0A;
        opacity: 0.5;
            @media (max-width: 780px) {
                font-size: 14px;
            }
    }

    .generic-selector {
        flex: 1;

        .filter__single-value {
            font-weight: 500;
            color: #023E20;
            @media (max-width: 780px) {
                font-size: 14px;
            }
        }
    }
}
