div.faceted-posts-search__search-field {
    > div {
        position: relative;
        display: flex;
        align-items: center;

        > svg {
            position: absolute;
            right: 9px;
            width: 15px;
        }

        > input[type=search] {
            border-radius: 4px;
            width: 100%;
            transition: all 100ms;
            box-sizing: border-box;
            border: 1px solid hsl(0,0%,80%);
            padding-right: 30px;

            &:focus {
                border: 1px solid var(--primary-color);
                box-shadow: 0 0 0 1px var(--primary-color);
            }
        }
    }
}