div.faceted-posts-search__taxonomy-field {
    div.select__control {
        min-height: 40px;
    }
    .select__menu {
        isolation: isolate; /* cria novo stacking context */
        z-index: 2;
    }
}