.skeleton-animation {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(
        to right,
        #eeeeee 8%,
        #dddddd 18%,
        #eeeeee 33%
    );
    background-size: 800px 104px;
}


.item-card {
    display: grid;
    margin-bottom: 30px;
    grid-column-gap: 31px;

    @media (max-width: 780px) {
        grid-column-gap: 15px;
    }

    &.horizontal {
        grid-template-columns: 35.45% auto;
    }

    &.vertical {
        grid-template-columns: auto;

        @media (min-width: 1025px) {
            display: flex;
            flex-direction: column;
        }
    }


    &:not(.horizontal):not(.vertical) {
        grid-template-columns: 35.45% auto;
    }

    &--thumbnail {
        position: relative;
        padding-top: 56.25%;
        height: 0;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &--content {
        div.terms {
            margin-bottom: 3px;

            span {
                color: var(--accent-color);
                font-size: 0.75rem;
                text-transform: uppercase;
                font-weight: 900;

                &:not(:last-child):after {
                    content: ", ";
                    // display: block;
                }
            }
        }

        a.title {
            color: #023E20;
            font-size: 1.125rem;
            font-weight: 900;
            line-height: 1.375rem;
            margin-bottom: 7px;
            display: inline-block;

            @media (max-width: 780px) {
                font-size: 0.875rem;
                line-height: 1.063rem;
            }
        }

        p.excerpt {
            &, p {
                color: #0A0A0A;
                font-size: 0.875rem;
                line-height: 1.0625rem;
                font-weight: 500;
            }


            @media (max-width: 780px) {
                display: none;
            }
        }

        div.additional-meta {
            display: flex;

            .meta-item {
                font-size: 0.75rem;
                color: #6E6670;
                opacity: 0.7;

                &:not(:last-child) {
                    margin-right: 20px;
                }

                a {
                    padding-left: 5px;

                    &:hover {
                        font-weight: normal;
                        text-decoration: underline ;
                    }

                    &::after {
                        content: ',';
                    }

                    &:last-child {
                        &::after {
                            content: '';
                        }
                    }
                }

            }
        }


    }

    // Skeleton animation here
    &.skeleton {
        // Add animation to fucture content area
        .item-card--thumbnail, .terms, .title, .additional-meta, .excerpt {
            @extend .skeleton-animation;
        }

        .terms {
            width: 50px;
            height: 15px;
            margin-bottom: 8px;
        }

        .title {
            width: calc(100% - 50px);
            height: 40px;
            margin-bottom: 15px;
        }

        .additional-meta {
            width: 35%;
            height: 15px;
        }

        .excerpt {
            width: 100%;
            height: 100px;
        }
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}
