.item-card {
    &--thumbnail {
        position: relative;
        padding-top: 56.25%;
        height: 0;
        overflow: hidden;

        > div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                color: white;
                text-align: center;
                font-size: 62px;

                @media (max-width: 780px) {
                    font-size: 30px;
                    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
                }
            }
        }
    }
}