
    .item-card {
        &--thumbnail {
            margin-bottom: 15px;
            
            figure {
                top: 0;
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
