.hide-tablet-down {
    @include tablet {
        display: none;
    }
}

.entry-content a {
    text-decoration: none !important;
    
    &:hover {
        font-weight: bold;
    }
}

a {
    text-decoration: none !important;
    
    &:hover {
        font-weight: bold;
    }
    
    &:focus {
        outline: 0px;
    }
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    article a.external-link {
        color: var(--primary);
        padding-right: 15px;
    }

    p {
        font-weight: 500;
    }

}

.wp-block-newspack-blocks-homepage-articles {
    h2.article-section-title {
        font-size: size(18) !important;
    }
    
    p {
        line-height: 20px;
    }
}

.alignwide {
    // margin: 32px calc((100% - 60vw)/2);
    // max-width: 60vw;
    // width: 60vw;
}

.wp-block-video {
    video {
        width: 100%;
    }
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.wpnbha,
.content-area {
    article figure.post-thumbnail a {
        padding-top: 56.25%;
        overflow: hidden;
        position: relative;
        display: block;
        height: 0;
        
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    
}

.wp-block-newspack-blocks-homepage-articles {
    &.image-aligntop {
        .post-has-image {
            .post-thumbnail {
                margin-bottom: 20px;
            }
        }
    }
}

/* @include tablet */
/* 782px because newspack is breaking at that point */
@include tablet {
    body {
        padding-top: 60px;
    }
}

.input-group {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.input-group .form-control:not(:last-child),
.input-group-addon:not(:last-child),
.input-group-btn:not(:first-child)>.btn-group:not(:last-child)>.btn,
.input-group-btn:not(:first-child)>.btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:not(:last-child)>.btn,
.input-group-btn:not(:last-child)>.btn-group>.btn,
.input-group-btn:not(:last-child)>.dropdown-toggle {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/*style.css*/
.entry .entry-content .has-primary-background-color,
.entry .entry-content .wp-block-pullquote.is-style-solid-color.has-primary-background-color {
  background-color: var(--primary);
}

.entry .entry-content .has-primary-color,
.entry .entry-content .wp-block-pullquote.is-style-solid-color blockquote.has-primary-color,
.entry .entry-content .wp-block-pullquote.is-style-solid-color blockquote.has-primary-color p,
.entry .entry-content .wp-block-button.has-primary-color,
.entry .entry-content .is-style-outline .wp-block-button__link.has-primary-color:not(:hover),
.entry .entry-content .wp-block-button__link.is-style-outline.has-primary-color:not(:hover) {
  color: var(--primary);
}


/* INI: Css for grid */
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9 {
    padding-right: 15px;
    padding-left: 15px;
}

.col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}


.col-md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}



.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

@include tablet {
    
    .col-md-6,
    .col-sm-3,
    .col-sm-9,
    .col-md-10 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .search .col-md-10 {
        padding-right: 0px;
        padding-left: 0px;
    }
}

.form-group {
    margin-bottom: 1rem;
}
/* END */

/* INI: css for visibility */
.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

@media (min-width: 1024px) {
    .d-lg-block {
        display: block !important;
    }
    
    .d-lg-none {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .d-md-block {
        display: block !important;
    }
    
    .d-md-none {
        display: none !important;
    }
}

@media (min-width: 576px) {
    .d-sm-none {
        display: none !important;
    }
}

@media (min-width: 576px) {
    .d-sm-block {
        display: block !important;
    }
}
/* END */

input[type='text']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='number']:focus,
input[type='tel']:focus,
input[type='range']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='time']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='color']:focus,
textarea:focus {
    outline: none;
}

.entry .entry-content .wp-block-button .wp-block-button__link:hover {
    background: var(--primary-darker-15);
}

.button:focus,
button:focus,
input[type='button']:focus,
input[type='reset']:focus,
input[type='submit']:focus {
    outline: none;
}

.sm-order-0 {
    @include tablet {
        order: 1 !important;
    }
}

.sm-order-1 {
    @include tablet {
        order: 0 !important;
    }
}

.sm-order-2 {
    @include tablet {
        order: 2 !important;
    }
}

.opacity-0-5 {
    opacity: 0.5;
}

.dark-theme {}


/* icons for post type: audio, video, maps*/
.archive, .search, .blog {
    article  {
        &.category-map, &.category-video, &.category-audio {
            figure.post-thumbnail a:after {
                content: "";
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                position: absolute;
                width: 20%;
                height: 33%;
                background: var(--primary);
                bottom: 0;
                z-index: 1;
                right: 0;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 33%;
            }
        }
        
        &.category-map {
            figure.post-thumbnail a:after {
                background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='far' data-icon='map' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' class='svg-inline--fa fa-map fa-w-18 fa-3x'%3E%3Cpath fill='white' d='M560.02 32c-1.96 0-3.98.37-5.96 1.16L384.01 96H384L212 35.28A64.252 64.252 0 0 0 191.76 32c-6.69 0-13.37 1.05-19.81 3.14L20.12 87.95A32.006 32.006 0 0 0 0 117.66v346.32C0 473.17 7.53 480 15.99 480c1.96 0 3.97-.37 5.96-1.16L192 416l172 60.71a63.98 63.98 0 0 0 40.05.15l151.83-52.81A31.996 31.996 0 0 0 576 394.34V48.02c0-9.19-7.53-16.02-15.98-16.02zM224 90.42l128 45.19v285.97l-128-45.19V90.42zM48 418.05V129.07l128-44.53v286.2l-.64.23L48 418.05zm480-35.13l-128 44.53V141.26l.64-.24L528 93.95v288.97z' class=''%3E%3C/path%3E%3C/svg%3E");
            }
        }
        
        &.category-video {
            figure.post-thumbnail a:after {
                background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='play' class='svg-inline--fa fa-play fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='white' d='M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z'%3E%3C/path%3E%3C/svg%3E");
            }
        }
        
        &.category-audio {
            figure.post-thumbnail a:after {
                background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='headphones' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class='svg-inline--fa fa-headphones fa-w-16 fa-3x'%3E%3Cpath fill='white' d='M256 32C114.52 32 0 146.496 0 288v48a32 32 0 0 0 17.689 28.622l14.383 7.191C34.083 431.903 83.421 480 144 480h24c13.255 0 24-10.745 24-24V280c0-13.255-10.745-24-24-24h-24c-31.342 0-59.671 12.879-80 33.627V288c0-105.869 86.131-192 192-192s192 86.131 192 192v1.627C427.671 268.879 399.342 256 368 256h-24c-13.255 0-24 10.745-24 24v176c0 13.255 10.745 24 24 24h24c60.579 0 109.917-48.098 111.928-108.187l14.382-7.191A32 32 0 0 0 512 336v-48c0-141.479-114.496-256-256-256z' class=''%3E%3C/path%3E%3C/svg%3E");
            }
        }
    }
}

/* alignment */

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

/* width */
.width-100 {
    width: 100%;
}

/* HIVOS - Heading lineheight no bold*/
.is-style-heading-no-bold {
    font-weight: normal;
    line-height: 22px;
}
/* HIVOS - Heading lineheight 500*/
.is-style-heading-500 {
    font-weight: 500;
    line-height: 22px;
}
/* HIVOS - image minheight */
.image-min-height{

    @include mobile{
        min-height: 35vw;
    }
}
@media (min-width: 1300px) {
	.wrapper {
		width: 1345px;
	}

	#primary {
		width: 1345px;
	}

	.h-sub.single-featured-image-beside .middle-header-contain {
			width: 1345px;
		}

	.featured-image-behind + figcaption,
	.featured-image-beside figcaption {
		width: 1345px;
	}

	.newspack-front-page .entry .entry-content .wp-block-cover.alignfull > div > *:not(.alignfull):not(.alignwide), .newspack-front-page .entry .entry-content .wp-block-cover.alignwide > div > *:not(.alignfull):not(.alignwide),
	.newspack-front-page .entry .entry-content .wp-block-group.alignfull > div > *:not(.alignfull):not(.alignwide),
	.newspack-front-page .entry .entry-content .wp-block-group.alignwide > div > *:not(.alignfull):not(.alignwide),
	.post-template-single-wide .entry .entry-content .wp-block-cover.alignfull > div > *:not(.alignfull):not(.alignwide),
	.post-template-single-wide .entry .entry-content .wp-block-cover.alignwide > div > *:not(.alignfull):not(.alignwide),
	.post-template-single-wide .entry .entry-content .wp-block-group.alignfull > div > *:not(.alignfull):not(.alignwide),
	.post-template-single-wide .entry .entry-content .wp-block-group.alignwide > div > *:not(.alignfull):not(.alignwide),
	.page-template-single-wide .entry .entry-content .wp-block-cover.alignfull > div > *:not(.alignfull):not(.alignwide),
	.page-template-single-wide .entry .entry-content .wp-block-cover.alignwide > div > *:not(.alignfull):not(.alignwide),
	.page-template-single-wide .entry .entry-content .wp-block-group.alignfull > div > *:not(.alignfull):not(.alignwide),
	.page-template-single-wide .entry .entry-content .wp-block-group.alignwide > div > *:not(.alignfull):not(.alignwide) {
		max-width: 1345px;
	}

	.post-template-single-feature .entry .entry-content > .wp-block-cover.alignfull > div > .alignwide, .post-template-single-feature .entry .entry-content > .wp-block-cover.alignwide > div > .alignwide,
	.post-template-single-feature .entry .entry-content > .wp-block-group.alignfull > div > .alignwide,
	.post-template-single-feature .entry .entry-content > .wp-block-group.alignwide > div > .alignwide,
	.page-template-single-feature .entry .entry-content > .wp-block-cover.alignfull > div > .alignwide,
	.page-template-single-feature .entry .entry-content > .wp-block-cover.alignwide > div > .alignwide,
	.page-template-single-feature .entry .entry-content > .wp-block-group.alignfull > div > .alignwide,
	.page-template-single-feature .entry .entry-content > .wp-block-group.alignwide > div > .alignwide {
		max-width: 1345px;
	}

	.newspack-front-page figcaption,
	.newspack-front-page .wp-caption-text,
	.post-template-single-wide figcaption,
	.post-template-single-wide .wp-caption-text,
	.page-template-single-wide figcaption,
	.page-template-single-wide .wp-caption-text {
		max-width: 1345px;
	}
}
.wp-block-cover {
    padding-top:32px;
}
@include mobile {
    .newspack-front-page .entry .entry-content .wp-block-cover.alignfull > div > *:not(.alignfull):not(.alignwide), .newspack-front-page .entry .entry-content .wp-block-cover.alignwide > div > *:not(.alignfull):not(.alignwide) {
        max-width:90%;
    } 
}
@media (min-width: 1300px) and (max-width:1400px) {
    .newspack-front-page .entry .entry-content .wp-block-cover.alignfull > div > *:not(.alignfull):not(.alignwide), .newspack-front-page .entry .entry-content .wp-block-cover.alignwide > div > *:not(.alignfull):not(.alignwide) {
		max-width: 1245px;
	}
}
@include tablet-only {
    .newspack-front-page .entry .entry-content .wp-block-cover.alignfull > div > *:not(.alignfull):not(.alignwide), .newspack-front-page .entry .entry-content .wp-block-cover.alignwide > div > *:not(.alignfull):not(.alignwide) {
        max-width:95%;
    }
}

.mobile-only {
    display: none!important;
    height: 0;
    overflow: hidden;

    @include mobile {
        height: auto;
        overflow: initial;
        display: block!important;
        margin-bottom: 20px;
    }
}

.hide-mobile {
    @include mobile {
        display: none;
    }
}

figure.full-width {
    width: 100%;
    min-width: 100%;

    img {
        width: 100%;
    }
}

body.header-active {
    overflow-y: hidden;
}