// $effra_font_name: 'Effra';
$f_body: "Museo Sans Rounded", sans-serif;
$f_title: "Museo Sans Rounded", sans-serif;
$f_secondary: 'Open Sans', sans-serif;

$c_gray: #f5f5f5;
$c_gray__darker: #222222;

$c_primary: #0a854a;
$c_secondary: #9A345C;
$c_tertiary: #C8D400;

$dir_assets : '/wp-content/themes/jeo-theme/assets/';
$dir_fonts: $dir_assets + 'fonts/';