FORM:
    <label> Name of the initiative *
    [text* initiave-name placeholder "Name of the initiative"] 
    </label>
    <div class="grid-form">
    <label> Hyperlink *
    [text* link placeholder 'Separate names with "https://thelink.com"'] 
    </label><label> Country:
    [select country term:country placeholder "Country"]
    </label>
    </div>
    <label> Type of the initiative:
    [select type first_as_label "campaing" "petition" "Fundraising" "Other"]
    </label>
    <label> Short description
    [textarea* description placeholder "Description"]
    </label>
    <label> Contact *
    [email* email placeholder "your email"] 
    </label>
    
    [submit "Send Initiative"]
END OF FORM SCREEN CONFIGURATION

MAIL

To	
[_site_admin_email]
From	
[_site_title] <sysadmin@hacklab.com.br>
Subject	
[_site_title] "[your-subject]"
Additional headers	
Reply-To: [email]

Message Body:
From: <[email]>
Subject: Share Resource


Message Body:
Initiave Name: [initiave-name]<br>
Country(s): [country]<br>
Hyperlink: [link]
Short Description:<br>
[description]<br>
User Contact Email: [email]



-- 
This e-mail was sent from a contact form on [_site_title] ([_site_url])

END OF SCREEN MAIL CONFIGURATION

