FORM:
    <label> Name of the Resource *
    [text* resource-name placeholder "Name of the Resource"] 
    </label>
    <div class="grid-form">
    <label> Author(s) *
    [text* authors placeholder 'Separate names with ","'] 
    </label><label> Date of development:
    [date date]</label>
    </div>
    <label> Hyperlink
    [text* link placeholder "https://thelink.com"] 
    </label>
    <label> Short description
    [textarea* description placeholder "Description"]
    </label>
    <label> Picture (Image to display as cover)
    [file picture filetypes:jpg|jpeg|png|gif]
    </label>
    <label> More info
    [textarea* description placeholder "Related Links"]
    </label>
    <label> Contact *
    [email* email placeholder "your email"] 
    </label>
    
    [submit "Upload a Tool"]
    
END OF FORM SCREEN CONFIGURATION

MAIL


To	
[_site_admin_email]
From	
[_site_title] <sysadmin@hacklab.com.br>
Subject	
[_site_title] "[your-subject]"
Additional headers	
Reply-To: [email]
Message body:
From: <[email]>
Subject: Share Resource


Message Body:
Resource Name: [resource-name]<br>
Author(s): [authors]<br>
Development Date: [date]
Hyperlink: [link]
Short Description:<br>
[description]<br>
User Contact Email: [email]


-- 
This e-mail was sent from a contact form on [_site_title] ([_site_url])

File attachments:
[picture]

END OF SCREEN MAIL CONFIGURATION

