.login-to-academy-widget {
    background: url($dir_assets + 'images/academyBannerV2@2x.png');
    background-position: top center;
    background-size: cover;
    min-height: 249px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
    border-radius: 10px;

    .academy-header {
        color: #FFFFFF;
        font-size: size(18);
        letter-spacing: 0;
        line-height: 22px;
        font-weight: bold;
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            font-size: size(29);
            margin-right: 15px;
        }
    }

    .anchor-text {
        color: #FFFFFF;
        font-size: size(14);
        letter-spacing: 0;
        line-height: size(17);
        text-align: center;
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
        margin: 30px 0;
    }

    a#academy-link {
        border-radius: 10px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
        display: block;
        width: 100%;
        color: #9A345C;
        text-transform: uppercase;
        padding: 15px 40px;
        font-size: size(14);
        text-align: center;
        transition: all .2s ease;
        
        span:last-child {
            font-weight: bold;
        }

        &:hover {
            background-color: #9A345C;
            color: white;
            transition: all .2s ease;
        }
    }
}