.embed-template-block {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: max-content;
    grid-column-gap: 15px;
    grid-template-areas:
        "a b"
        "a c";
    margin-bottom: 15px;
    
    
    @include tablet {
        grid-template-areas:
            "a a"
            "b b";
    }

    
    p:first-child {
        grid-area: b;
        opacity: 1;
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 5px;

        @include tablet {
            display: block;
            margin-top: 8px;
        }
    }

    p {
        grid-area: c;
        opacity: 0.6;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 18px;

        @include tablet {
            display: none;
        }
    }

    figure {
        grid-area: a;

        &.wp-block-embed {
            min-width: auto;
            min-height: auto;
        }

        .wp-block-embed__wrapper {
            position: relative;
            padding-top: 56.25%;
            height: 0;
            overflow: hidden;

            iframe {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                // object-fit: cover;
            }
        }
    }
}