.flyer-wrapper {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

    .title {
        background-color: #D46D11;
        padding: 20px 0;
        border-radius: 10px 10px 0 0;

        h3 {
            color: white;
            font-size: size(18);
            letter-spacing: 0;
            line-height: size(22);
            text-align: center;
            margin: 0;
            text-transform: uppercase;
            font-weight: 500;
        }
    }

    .flyer-itens {
        margin-top: 30px;
        padding: 0 30px;

        @include mobile {
            &:not(.mobile.slide-avaliable) {
                display: none;
            }
        }
        

        &.mobile.slide-avaliable {
            display: none;

            @include mobile {
                display: block;
            }

            .sssprev, .sssnext {
                width: 50px;
                background-image: url($dir_assets + 'vendor/sss/images/arr-no-circle.png');
            }

            .sssprev {
                left: -35px
            }

            .sssnext {
                right: -35px;
                background-position: -50px 50%;
            }
        }

        .flyer-item {
            margin-bottom: 30px;

            @include mobile {
                margin: 0;
                padding: 0;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    border-radius: 10px;
                }
            }
        }
    }

    .dots-wrapper {
        display: none;
        margin-top: 15px;
        margin-bottom: 15px;

        @include mobile {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .dot {
            width: 8px;
            height: 8px;
            background: #023E20;
            opacity: 0.7;
            border-radius: 50%;
            margin: 0 5px;

            &.active {
                opacity: 1;
            }
        }
    }
}