.category-most-read {
    margin-bottom: 3rem;

    background-color: #F5F5F5;

    &__header {
        background-color: #D46D11;
        border-radius: 10px 10px 0 0;

        p {
            padding: 20px 30px;
            color: white;
            text-align: center;
            margin: 0px;
            letter-spacing: 0;
            line-height: 19px;
            font-weight: 500;
        }
    }

    .posts {
        padding: 30px;

        p {
            font-size: size(16);
        }



        .post {
            &:not(:last-child) {
                border-bottom: 1px solid rgb(230, 230, 230);
            }

            &:not(:first-child) {
                margin-top: 30px;

                .post-thumbnail {
                    display: none;
                }
            }

            &:last-of-type {
                p.post-author, p.post-date {
                    margin-bottom: 0px;
                }
            }

            .post-link {
                /* all: unset; */
                cursor: pointer;

                .post-title {
                    font-weight: bold;
                    margin-bottom: 0px;
                    font-size: size(16);
                    letter-spacing: 0;
                    line-height: 20px;
                    color: #0A0A0A;

                    &:first-of-type {
                        margin-top: 0px;
                    }
                }

                .post-author, .post-date {
                    color: rgba(25, 30, 35, 0.5);
                    margin-bottom: 20px;
                    font-size: size(14);
                }
            }

            .post-thumbnail {
                width: 100%;
            }
        }
    }
}

/* Dark mode */
.dark-theme {
    .category-most-read {
        background: #23282D;

        .posts {

            .post {
                .post-link {

                    .post-title {
                        color: #f5f5f5;
                    }

                    .post-author, .post-date {
                        color: white;
                    }

                }
            }
        }
    }
}