.modal-form-widget {
    padding: 29px;
    color: white;
    background: linear-gradient(225deg, #0A854A 0%, #D46D11 100%);
    background-color: #FFFFFF;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.15);
    border-radius: 20px;
    align-items: center;
    margin-bottom: 3rem;
    font-family: var(--primary-font);

    input[type='email'] {
        background: transparent;
    }
    .modal-open {
        border-radius: 10px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
        color: #9A345C;
        font-family: "Museo Sans Rounded";
        font-size: 16px;
        letter-spacing: 0;
        line-height: 19px;
        padding: 13px 15px;
        text-transform: uppercase;
        cursor: pointer;
        transition:300ms ease all;
        display:inline-block;
    }
    @include mobile {
        .anchor-text {
            margin-bottom: 0;
        }
    }

    .mc4wp-form-fields {
        & > div {
            border: 2px solid var(--primary);
            border-radius: 10px;
            margin-bottom: 5px;
            max-width: 100%;

        }

        p {
            font-size: size(14);
            color: #555D66;
            text-align: right;

            a {
                color: var(--primary)
            }

            a:hover {
                font-weight: bold;
            }
        }
    }

    &.horizontal {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        padding: 35px 113px;
        margin-top: 90px;

        /*@include desktop {
            margin-left: calc(50% - 35vw);
            margin-right: calc(50% - 35vw);
        }*/

        @include tablet {
            padding: 30px;
            grid-template-columns: auto;
            line-height: normal;
            text-align: center;
            margin: 60px 0px;
        }

        > div {
            display: flex;
            justify-content: center;
            flex-direction: column;

            i.fa-envelope {
                margin-bottom: 20px;
            }

            form {
                @include mobile {
                    margin-top: 30px;
                }

                button {
                    color: #FFFFFF;
                    text-transform: uppercase;
                    font-size: size(18);
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 24px;
                    padding: 18px;

                    @include tablet {
                        width: 77px;
                        height: 100%;

                        span:first-child {
                            display: none;
                        }
                    }

                    /* arrow in button*/
                    i {
                        display: none;

                        @include tablet {
                            display: block;
                        }
                    }

                    /* label in button*/
                    .mc4wp__btn-label {
                        display: block;

                        @include tablet {
                            display: none;
                        }

                    }
                }
            }

            p {
                &.link {
                    text-align: right;
                    margin-bottom: 0;
                }

                &.anchor-text {
                    a {
                        color: var(--primary);
                    }
                }
            }
        }
    }

    &.vertical {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-position: top center !important;
        background-size: cover !important;

        @include mobile {
            display: block;
        }

        .newsletter-header {
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                font-size: 1rem;
                margin: 10px;
            }

            p {
                font-size: 1.0rem;
                text-align: left;
                line-height: 21px;
                margin: 0px;
            }
        }

        .anchor-text {
            color: white;
            text-shadow: 0 2px 4px rgba(0,0,0,0.5);
            font-size: 0.875rem;
            margin-bottom: 30px;
            text-align: left;
        }

        form {
            .mc4wp-form-fields {
                label {
                    display: flex;
                    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
                    border-radius: 10px;

                    input[type=email] {
                        padding: 13px 10px;
                        border: 1px solid #FFFFFF;
                        border-right: 0px;
                        border-radius: 10px 0 0 10px;
                        flex: calc(100% - 0px);
                        font-size: 1rem;

                        &, &::placeholder {
                            color: white;
                        }
                    }

                    input[type=submit] {
                        background-color: white;
                        text-transform: uppercase;
                        color: var(--secondary);
                        border-radius: 0 10px 10px 0;
                        font-weight: normal;
                        font-size: 1rem;
                        padding: 0;
                    }
                }
            }


        }

        p {

            &.last-edition {
                margin-top: 0px;
            }
        }
    }

    .mc4wp-response {
        padding: 15px 0 0 0;

        p {
            font-size: size(14);
            line-height: normal;
            margin: 0px;
            text-align: center;
        }
    }

    .newsletter-header p {
        font-size: size(32);
        font-weight: bold;
        margin: 0px;
    }


    .anchor-text {
        color: var(--secondary);
    }

    form {
        input {
            width: calc(100% - 77px) !important;
            background-color: unset;
            border: none;

        }

        input:focus {
            outline: none;
        }

        button {
            background-color: var(--primary);
            border-top-left-radius: initial;
            border-bottom-left-radius: initial;
            border-color: var(--primary);

            &:hover {
                background-color: var(--primary-darker-15);
                border-top-left-radius: initial;
                border-bottom-left-radius: initial;
                border-color: var(--primary);
            }
        }
    }

    p {
        &.link {
            font-size: size(14);
            color: #555D66;
            text-align: center;

            a {
                color: var(--primary);
                font-weight: bold;
            }

            a:hover {
                font-weight: bold;
            }
        }

        &.last-edition {
            a {
                color: var(--primary);
                font-size: size(14);
                font-weight: bold;
            }
        }

        &.link-add{
            font-size: size(14);
            font-weight: bold;
            letter-spacing: 0;
            line-height: 19px;
            a {
                color: var(--primary);
            }
        }
    }
}
@keyframes open-modal {
    from {
        opacity:0;
        background: rgba(0,0,0,0.1);
    }
    to {
        opacity:1;
        background: rgba(0,0,0,0.6);
    }
  }
  @keyframes open-modal-opacity {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }
body.modal-open {
    overflow-y:hidden;
}
.modal-form-window-bg {
    width: 100vw;
    z-index: 9999999;
    overflow-y: scroll;
    position: fixed;
    opacity:0;
    top: 0;
    left:0;
    bottom: 0;
    padding-bottom:120px;
    padding-top:50px;
    display:flex;
    justify-content: center;
    background: rgba(0,0,0,0.6);

    &.open {
        animation-name: open-modal-opacity;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);      
        opacity:1;
        .modal-form-window-content {
            opacity:1;
            transition:1s linear opacity;
        }
    }
    .modal-form-window-content {
        width:35vw;
        @include mobile {
            width:90vw;
        }
        background:white;
        border-radius:20px;
        height: fit-content;
        padding:23px;
        .grid-form {
            display: grid;
            grid-template-columns: 5fr 4fr;
            grid-gap: 30px;
            @include mobile {
                display:block;
                label {
                    margin-bottom: 10px;
                    display: inline-block;
                    width: 100%;
                }
            }
        }
        .newsletter-header {
            display: flex;
            justify-content: center;
            .modal-header-grid {
                width: 350px;
                display: grid;
                grid-template-columns: 3fr 10fr;
                i {
                    font-size:28px;
                    padding-top:10px;
                    color: #023E20;
                }
                p {
                    color: #023E20;
                    font-family: "Museo Sans Rounded";
                    font-size: 18px;
                    letter-spacing: 0;
                    line-height: 22px;
                    font-weight: bold;
                }
            }
        }
        p.anchor-text {
            color: #023E20;
            font-family: "Museo Sans Rounded";
            font-size: 17px;
            letter-spacing: 0;
            line-height: 17px
        }
        label {
            color: #222222;
            font-family: "Open Sans";
            font-size: 14px;
            letter-spacing: 0;
            line-height: 19px;          
        }
        input:not([type="submit"]),
        select,
        textarea {
            color: #222222;
            padding: 15px 20px;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0;
            border: 1px solid #666666;
            border-radius: 5px;
            background:none;
        }
        input::placeholder,
        textarea::placeholder {
            color: rgba(34,34,34,0.5);
        }
        input[type="date"],
        select {
            padding-top: 13px;
            padding-bottom: 15px;
            width:100%;
        }
    }
    .modal-close-icon {
        cursor: pointer;
        position: absolute;
        margin-left: 31vw;
        margin-top: -10px;
        @include mobile {
            margin-left: 75vw;
            margin-top: -10px;
        }
    }
    .modal-close-icon i {
        color: #023E20;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 14px;      
    }
}



.dark-theme  {
    .newsletter {
        background-color: var(--primary-opacity-15);

        .anchor-text {
            color: white;
        }

        p.link {
            color: white;
        }
    }

}


/* Modal in Get Involved Page */

.page-template-template-get-involved {
    .modal-form-widget {
        .modal-open{
            min-width: 200px;
        }

        .newsletter-header {

            @include mobile {
                justify-content: normal;
                
                i {
                    margin: 10px 10px 10px 0;
                }
            }

            @include desktop {
                display: block;
                text-align: left;
                width: 100%;

                i {
                    font-size: 1.2rem;
                    margin: 10px 0 15px;
                }

                p {
                        font-size: 40px;
                        line-height: 30px;
                        text-shadow:0 2px 4px rgba(0, 0, 0, 0.5);
                }
            }

            
        }
    }
}


