.page {
    .newsletter.horizontal {
        margin-left: 0px;
        margin-right: 0px;
    }
}

/*newsletter in block*/
.newsletter-wrapper .newsletter {
    margin-bottom: 0px;

    &.horizontal {
        margin-top: 0px;
    }
}

.newsletter {
    padding: 29px;
    color: white;
    background: linear-gradient(225deg, #0A854A 0%, #D46D11 100%);
    background-color: #FFFFFF;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.15);
    border-radius: 20px;
    align-items: center;
    margin-bottom: 3rem;
    font-family: var(--primary-font);

    input[type='email'] {
        background: transparent;
    }

    @include mobile {
        .anchor-text {
            margin-bottom: 0;
        }
    }

    .mc4wp-form-fields {
        & > div {
            border: 2px solid var(--primary);
            border-radius: 10px;
            margin-bottom: 5px;
            max-width: 100%;

        }

        p {
            font-size: size(14);
            color: #555D66;
            text-align: right;

            a {
                color: var(--primary)
            }

            a:hover {
                font-weight: bold;
            }
        }
    }

    &.horizontal {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        padding: 35px 113px;
        margin-top: 90px;

        /*@include desktop {
            margin-left: calc(50% - 35vw);
            margin-right: calc(50% - 35vw);
        }*/

        @include tablet {
            padding: 30px;
            grid-template-columns: auto;
            line-height: normal;
            text-align: center;
            margin: 60px 0px;
        }

        > div {
            display: flex;
            justify-content: center;
            flex-direction: column;

            i.fa-envelope {
                margin-bottom: 20px;
            }

            form {
                @include mobile {
                    margin-top: 30px;
                }

                button {
                    color: #FFFFFF;
                    text-transform: uppercase;
                    font-size: size(18);
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 24px;
                    padding: 18px;

                    @include tablet {
                        width: 77px;
                        height: 100%;

                        span:first-child {
                            display: none;
                        }
                    }

                    /* arrow in button*/
                    i {
                        display: none;

                        @include tablet {
                            display: block;
                        }
                    }

                    /* label in button*/
                    .mc4wp__btn-label {
                        display: block;

                        @include tablet {
                            display: none;
                        }

                    }
                }
            }

            p {
                &.link {
                    text-align: right;
                    margin-bottom: 0;
                }

                &.anchor-text {
                    a {
                        color: var(--primary);
                    }
                }
            }
        }
    }

    &.vertical {
        display: flex;
        flex-direction: column;
        text-align: center;
        background: url($dir_assets + 'images/leafs.png'), linear-gradient(225deg, #0A854A 0%, #D46D11 100%);
        background-position: top center;
        background-size: cover;

        @include mobile {
            display: block;
        }

        .newsletter-header {
            display: flex;
            justify-content: center;
            align-items: center;

            .fa-envelope {
                font-size: 1rem;
                margin: 10px;
            }

            p {
                font-size: 1.125rem;
                text-align: center;
                line-height: 40px;
                margin: 0px;
            }
        }

        .anchor-text {
            color: white;
            text-shadow: 0 2px 4px rgba(0,0,0,0.5);
            font-size: 0.875rem;
            margin-bottom: 30px;
        }

        form {
            .mc4wp-form-fields {
                label {
                    display: flex;
                    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
                    border-radius: 10px;

                    input[type=email] {
                        padding: 13px 10px;
                        border: 1px solid #FFFFFF;
                        background-color: rgba(255,255,255,0.7);
                        border-right: 0px;
                        border-radius: 10px 0 0 10px;
                        flex: calc(100% - 0px);
                        font-size: 1rem;
                        color: #0a0a0ab9;

                        &, &::placeholder {
                            color: #0a0a0ab9;
                        }
                    }

                    input[type=submit] {
                        background-color: var(--secondary);
                        text-transform: uppercase;
                        color: white;
                        border-radius: 0 10px 10px 0;
                        font-weight: normal;
                        font-size: 1rem;
                        padding: 0;
                    }
                }
            }


        }

        p {

            &.last-edition {
                margin-top: 0px;
            }
        }
    }

    .mc4wp-response {
        padding: 15px 0 0 0;

        p {
            font-size: size(14);
            line-height: normal;
            margin: 0px;
            text-align: center;
        }
    }

    .newsletter-header p {
        font-size: size(32);
        font-weight: bold;
        margin: 0px;
    }


    .anchor-text {
        font-weight: bold;
        color: var(--secondary);
    }

    form {
        input {
            width: calc(100% - 77px) !important;
            background-color: unset;
            border: none;

        }

        input:focus {
            outline: none;
        }

        button {
            background-color: var(--primary);
            border-top-left-radius: initial;
            border-bottom-left-radius: initial;
            border-color: var(--primary);

            &:hover {
                background-color: var(--primary-darker-15);
                border-top-left-radius: initial;
                border-bottom-left-radius: initial;
                border-color: var(--primary);
            }
        }
    }

    p {
        &.link {
            font-size: size(14);
            color: #555D66;
            text-align: center;

            a {
                color: var(--primary);
                font-weight: bold;
            }

            a:hover {
                font-weight: bold;
            }
        }

        &.last-edition {
            a {
                color: var(--primary);
                font-size: size(14);
                font-weight: bold;
            }
        }

        &.link-add{
            font-size: size(14);
            font-weight: bold;
            letter-spacing: 0;
            line-height: 19px;
            a {
                color: var(--primary);
            }
        }
    }
}
.dark-theme  {
    .newsletter {
        background-color: var(--primary-opacity-15);

        .anchor-text {
            color: white;
        }

        p.link {
            color: white;
        }
    }

}
