.upcoming-events-wrapper {
    
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;

    .title {
        background-color: #D46D11;
        padding: 20px 0;
        border-radius: 10px 10px 0 0;

        h3 {
            color: white;
            font-size: size(18);
            letter-spacing: 0;
            line-height: size(22);
            text-align: center;
            margin: 0;
            text-transform: uppercase;
            font-weight: 500;
        }
    }

    .events-itens {
        padding: 30px;

        .event-item {
            &:not(:last-child) {
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid #DDDDDD;
            }

            a {
                color: #023E20;
                font-size: size(18);
                letter-spacing: 0;
                line-height: size(22);
                font-weight: bold;
            }

            div {
                span {
                    color: rgba(25,30,35,0.5);
                    font-size: size(12);
                    letter-spacing: 0;
                    line-height: size(17);
                }
            }
        }
    }
}