.video-gallery-block, #page .video-gallery-block {
    margin-bottom: 30px;

    h2 {
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 38px;
        margin-bottom: 60px;

        @include tablet {
            margin-bottom: 40px;
        }
    }

    .video-gallery-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        box-shadow: inset 0px -14px 18px -3px rgba(0, 0, 0, 0.3);

        @include tablet {
            display: block;
            box-shadow: none;
        }

        @include mobile {
            overflow: hidden;
        }

        .cmplz-blocked-content-notice.cmplz-accept-cookies {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }
        
        > .embed-template-block {
            display: block;
            margin-bottom: 0;
            
            figure {
                margin-bottom: 0;
            }

            p {
                display: none;
            }
        }

        .scroll-ratio {
            position: relative;
            padding-top: 56.25%;
            height: 0;

            @include tablet {
                position: initial;
                padding-top: 0;
                height: auto;
            }

            .sidebar-itens {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                max-height: 100%;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    width: 10px;
                    /* height: 6px; */

                    @include tablet {
                        height: 6px; 
                    }
                }
                &::-webkit-scrollbar-button {
                    width: 0px;
                    height: 0px;
                }
                &::-webkit-scrollbar-thumb {
                    background: #C1C1C1;
                    border: 0px none white;
                    border-radius: 10px;
                }
                
                &::-webkit-scrollbar-track {
                    background: rgba(250, 250, 250, 0.2);
                    border: 0px none #ffffff;
                    border-radius: 0px;
                }

                &::-webkit-scrollbar-corner {
                    background: transparent;
                }

                @include tablet {
                    position: initial;
                    width: calc(100% + 20px);
                    display: flex;
                    overflow-x: auto;
                    margin-top: 20px;
                    align-items: flex-start;
                }
                
                button {
                    width: 100%;
                    text-align: initial;
                    padding: 0;
                    margin-bottom: 30px;
                    background: none;

                    &:hover, &:focus {
                        background: #ffffff1a;
                    }

                    @include tablet {
                        margin-bottom: 0;
                        margin-right: 20px;
                        min-width: 180px;
                        width: auto;

                        &:last-child {
                            margin-right: 0;
                        }
                    }

                    @include mobile {
                        &:last-child {
                            padding-right: 15px;
                        }
                    }
                }

                .embed-template-block {
                    position: relative;
                    
                    &:before {
                        width: 100%;
                        height: 100%;
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                    }

                    &:last-child {
                        margin-bottom: 0;

                        p, figure {
                            margin-bottom:  0;
                        }
                    }

                    p:first-child {
                        margin-top: 0;
                        padding-top: 8px;

                        @include tablet {
                            padding: 8px;
                            padding-right: 10px;
                        }
                    }
                }
            }
        } 
    }

}