$tablet-width: 830px;
$desktop-width: 1025px;
$large-width: 1600px;
$medium-width: 1200px;
$tablet-up-width: 782px;


@mixin mobile {
    @media (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

.taxonomy-terms {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    align-items: start;
    font-family: "Museo Sans Rounded", "sans-serif";
    margin-bottom: 30px;

    @media (min-width:830px) and (max-width:1024px) {
        grid-column-gap: 15px;
    }

    @media (min-width:1025px) and (max-width:1366px) {
        grid-column-gap: 30px;
    }

    @include mobile {
        grid-template-columns: auto;
        grid-row-gap: 25px;
    }

    &-card {
        &:not(.with-description) {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            min-height: 256px;

            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-color: var(--block-color);
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 2px 14px rgba(0,0,0,0.2);
            text-decoration: none;

            transition: all .3s ease-in-out;


            &:hover {
                transform: scale(1.08);
                transition: all .15s ease-in-out;
                border-radius: 8px;
                box-shadow: 0 2px 14px rgba(0,0,0,0.01);
                // backdrop-filter: blur(15px)
            }

            .title {
                // font-size: 2.5rem;
                // line-height: 3rem;
                font-size: 1.8rem;
                line-height: normal;

                text-shadow: 0 2px 4px rgba(0,0,0,0.5);
                color: white;
                
                // margin-top: 0;
                margin-bottom: 8px;

                @include tablet {
                    font-size: size(18);
                    line-height: size(22);

                }
            }

            .quantity {
                font-size: 0.6875rem;
                line-height: 0.8125rem;
                color: white;
                font-weight: bold;

                text-shadow: 0 2px 4px rgba(0,0,0,0.5);

                i {
                    margin-right: 4px;
                }
            }
        }

        &:not(.with-description):not(.with-expanded-description) {
            padding: 15px 21px;
        }

        &.with-expanded-description:not(.with-description) {
            @include tablet {
                display: grid;
                grid-template-columns: 5fr 6fr;
                min-height: auto;
            }

            .featured-image-bg {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                background-color: var(--block-color);
                background-image: var(--background-image);
                min-height: 256px;
                padding: 15px 21px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                @include tablet {
                    min-height: auto;
                }
            }

            .description {
                background-color: white;
                padding: 20px;

                @include mobile {
                    font-size: size(12);
                    line-height: 15px;
                    min-height: 130px;
                }

                a {
                    display: block;
                    margin-top: 15px;
                    font-weight: bold;
                    
                }
            }
        }
    }

    &-card {
        &.with-description {
            // border-radius: 10px;
            overflow: hidden;
            // box-shadow: 0 2px 14px rgba(0,0,0,0.15);

            transition: all .3s ease-in-out;

            &:hover {
                transform: scale(1.08);
                transition: all .15s ease-in-out;
                // border-radius: 8px;
                // box-shadow: 0 2px 14px rgba(0,0,0,0.08);
    
            }

            &.hide-description {
                .card-content {
                    transform: scale(0);
                    overflow: hidden;
                    padding: 0;
                    height: 0;
                    transition: all .2s ease-in-out;
                }
            }

            .card {
                &-header {
                    display: flex;
                    align-items: center;
                    @media (min-width:830px) and (max-width:1366px) {
                        align-items: flex-start;
                        flex-direction: column;
                    }
                    @media (min-width:1025px) and (max-width:1366px) {
                        
                    }
                    > i {
                        // background-color: var(--block-color);
                        color: var(--block-color);
                        text-shadow: 0 2px 4px rgba(0,0,0,0.5);
                        font-size: size(30);
                    }

                    .sideway {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 15px 15px;
                        @media (min-width:830px) and (max-width:1366px) {
                            padding:15px 0;
                        }
                        flex: 1;
                        color: var(--block-color);

                        @include mobile {
                            padding: 10px 23px;
                        }

                        h5 {
                            margin: 0;
                            font-size: size(29);
                            @media (min-width:830px) and (max-width:1024px) {
                                font-size:size(22);
                            }
                            @media (min-width:1025px) and (max-width:1366px) {
                                font-size:size(26);
                            }        

                            a {
                                color: var(--block-color);
                            }
                        }

                        i {
                            opacity: 0.4;
                            cursor: pointer;

                            @include mobile {
                                opacity: 1;
                                font-size: size(22);
                                color: var(--secondary);
                            }
                        }
                    }
                }

                &-content {
                    // background-color: #F5F5F5;
                    // padding: 10px;
                    // transition: all .2s ease-in-out;

                    p {
                        font-size: size(16);
                        line-height: size(19);
                        margin-top: 0;
                        padding-top: 0;

                        @include mobile {
                            padding-left: size(51);
                        }
                    }

                    a {
                        font-size: size(16);
                        text-decoration: underline!important; // force to ignore theme ;(
                        font-weight: 600;
                        color: #0A0A0A;

                        @include mobile {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &.is-style-with_description_external_title {
        grid-template-columns: repeat(2, minmax(0, 1fr));

        @media screen and (max-width:599px) {
            grid-template-columns: 1fr; 
        }

        .taxonomy-terms-card {
            box-shadow: none;

            &:not(.with-description):not(.with-expanded-description) {
                padding: 0;
                border-radius: 0;

                .thumb {
                    background-position: center;
                    background-repeat: no-repeat;
                    border-radius: 10px;
                    position: relative;

                    &:before {
                        content: "";
                        display: block;
                        padding-top: (9 / 16) * 100%;
                        width: 100%;
                    }
                }

                .title {
                    color: #023E20;
                    text-shadow: none;
                }
            }
        }
    }
}

// Only edit block
.panel-edit-taxonomy-terms {
    .components-base-control {
        .components-base-control__help {
            font-size: 12px;
            margin-top: -2px;
        }
    }
}