h1.is-style-heading-no-bold,
h2.is-style-heading-no-bold,
h3.is-style-heading-no-bold,
h4.is-style-heading-no-bold,
h5.is-style-heading-no-bold,
h6.is-style-heading-no-bold {
    font-weight: normal !important;
    line-height: 22px;
}
h1.is-style-heading-500,
h2.is-style-heading-500,
h3.is-style-heading-500,
h4.is-style-heading-500,
h5.is-style-heading-500,
h6.is-style-heading-500 {
    font-weight: 500 !important;
    line-height: 22px;
}
